<script type="text/html" id="selectLadderTemplate">
 <div class="h-20 p-2 flex flex-row w-full items-center justify-center border-teal-900 border-b">
	<div class="relative h-16 w-16 float-left tooltip">
		<img class="rounded-full h-16 w-16 p-2 mr-5" src="{{avatar_url}}" />
		<div class="presence-bg">
			<div class="presence--{{#inGame}}in_game{{/inGame}}{{^inGame}}{{#is_present}}online{{/is_present}}{{^is_present}}offline{{/is_present}}{{/inGame}}"> </div>
		</div>
		<span class='tooltip-text bg-gray-200 px-2 py-1 -mt-1 rounded text-gray-700'>{{appearing_on}}</span>
	</div>
	<div class="p-2 flex flex-row justify-between flex-1">
		<div class="mb-2">
			<h3 class="text-black font-medium inline">{{ladder_rank}}.</h3>
			<a href="/user/{{id}}" class="text-black underline mb-2 font-medium inline" >{{name}}</a>
		</div>
		<div class="{{^challengeable}}{{#justlost}}tooltip{{/justlost}}{{/challengeable}}">
			<button id="challenge-ladder" class="btn-primary{{^challengeable}}--disabled-ladder{{/challengeable}}" type="button">Challenge</button>
			{{^challengeable}}
				{{#justlost}}
					<div class="tooltip-text bg-gray-200 px-2 py-1 -mt-1 rounded text-gray-700 w-64" >You just lost to this player. Challenge someone else before trying again.</div>
				{{/justlost}}
			{{/challengeable}}
		</div>
	</div>
</div>
</script>
