<script type="text/html" id="warTimesNegoFormTemplate">
	<pclass="text-gray-700">Start: {{start}}
	End: {{end}}
	<button class="underline remove-war-time" style="font-size:10px;">Remove</button></p>
</script>
