version: "3.8"
services:
  db: #container_name
    image: postgres:12 #change if custom dockerfile needed
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data #prevents the Postgres container from losing all stored data when container restarts. Maps postgres data volume to host directory data/postgres
  rails: #container name
    build: .
    command: bin/rails s -b 0.0.0.0 # can be removed because redundant with CMD in dockerfile
    volumes:
      - .:/app #name of working directory in dockerfile. Comme ça ce qui se fait dans la console est gardé dans /app en local
      - gem_cache:/usr/local/bundle/gems
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    depends_on: #this takes care of the connectivity between two containers
      - db
volumes:
  gem_cache:
  node_modules:
