version: "3.8"
services:
  db:
    image: postgres:12.1 
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data #makes posgres persistent: data volume to host directory
  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
  sidekiq:
    build: .
    command: bundle exec sidekiq
    volumes:
      - ./project:/app
    depends_on:
      - redis
    env_file:
      - ./project/.env_redis
  rails:
    build: .
    volumes:
      - ./project:/app #things done in container are kept locally
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
      - "3035:3035"
    depends_on: #this takes care of the connectivity between two containers
      - db
      - sidekiq
    env_file:
      - ./project/.env_redis
volumes:
  db_data:
  node_modules:
  redis_data:
