<script type="text/html" id="ladderGameTemplate">
	<div class="flex flex-col justify-center items-center">
		<div class="font-semibold">Your Ladder rank is {{ladder_rank}}.</div>
		<div> You can play against an opponent that is ranked higher than you. </div>
		<div> If you win, you will take the rank of your opponent. </div>
		<div> You can challenge the following players : </div>
		<div id="listing"></div>

		<div style="margin-top:10px; font-size:11px" > Ladder games are of normal difficulty and are played in 9 points. </div>
	</div>
</script>
