<script type="text/html" id="indexLadderItemTemplate">
<div class="row" >
	<div style="padding:5px">
		<table>
		<tr>
			<td> <img style="float:left" width="80" height="80" class="rounded-full p-2 ml-2" src="{{avatar_url}}" /></td>
			<td style="padding:0 20px; text-decoration:underline;"><b class="m-auto ml-1"><a href='/user/{{id}}'>{{login}}</a></b></td>
			<td style="padding:0 20px;"><b class="m-auto ml-1">Rank : {{ladder_rank}}</b></td>
		</tr>
		</table>
		<div class="line flex flex-row" style="border: 1px solid; color: #14B8A6; margin-left:75px; margin-top: 10px; width:280px"></div>
	</div>
</div>
</script>