<script type="text/html" id="matchTemplate">
<div class="player">
  <div class="player-name">{{users.0.name}}</div><div class="score">0</div>
</div>
<div class="player">
  <div class="player-name">{{users.1.name}}</div><div class="score">0</div>
</div>
</script>
