<script type="text/html" id="roundoneTemplate">
<h1 class="type"> Quarter </h1>
<div class="match" id="round-one-game-1"></div>
<div class="match" id="round-one-game-2"></div>
<div class="match" id="round-one-game-3"></div>
<div class="match" id="round-one-game-4"></div>
</script>
