<script type="text/html" id="roundOneTemplate">
<h1 class="type"> Quarter </h1>
<div class="match" id="game-1"></div>
<div class="match" id="game-2"></div>
<div class="match" id="game-3"></div>
<div class="match" id="game-4"></div>
</script>
