<script type="text/html" id="tourListTemplate">
	<h1 class="row text-white puce" style="text-align:center; font-size:11px">
	<a style=" text-decoration: underline;" href="/tournaments/{{tour.id}}">{{tour.name}} Tournament</a>
	{{^mine}}
		{{#open}}
		- Registration ends : {{tour.registration_end}}
		{{/open}}
		{{^open}}
		- Registration starts : {{tour.registration_start}}
		{{/open}}
	{{/mine}}
	{{#mine}}
		- My status: {{tour.tournament_status}}
	{{/mine}}
	</h1>
</script>
