<script type="text/html" id="tourListTemplate">
<div class="row">
  <div class="column" style="padding: 10px; height:90px">
  <img style="float:left" width="80" height="80" class="rounded-full p-2" src="{{tour.trophy_url}}" />
	<div style="padding:30px">
		<h1 style="float:left;" class="counter text-white">
		<a style=" text-decoration: underline;" class="text-white" href="/tournaments/{{tour.id}}">{{tour.name}}</a>
		{{#open}}
		<h1 style="float:right" class="text-white"> Registration ends : {{tour.registration_end}} </h1>
		{{/open}}
		{{^open}}
		<h1 style="float:right" class="text-white"> Registration starts : {{tour.registration_start}} </h1>
		{{/open}}
	</div>
	<div class="line flex" style="border: 1px solid; color: #14B8A6; margin:auto;"></div>
  </div>
</div>
</script>
