<!DOCTYPE html>
<html>
  <head>
    <title>Transcendance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-gray-200">
    <%= yield %>
  </body>
</html>
