<script type="text/html" id="acceptChallengeTemplate">
	<h1 style="margin-top:10px;" class="justify-center flex flex-row"><b> {{users.0.name}} challenged your guild to a {{goal}} points {{level}} game.</b></h1>
	<div style="text-align: center;">
		<button id="accept-challenge-submit" class="btn-primary mt-3 mb-3" type="button">Accept Challenge!</button>
	</div>
</script>
