<script type="text/html" id="activeWarTimeTemplate">
	<h1 style="margin-top:10px; margin-down:10px; font-size: 15px;" class="flex flex-row text-white ml-5"> War time is activated until {{end}} ! </h1>
	<h1 style="margin-top:10px; margin-down:10px; font-size: 15px;" class="flex flex-row text-white ml-5"> Look for a fight : </h1>
	<button id="challenge-btn" style="margin-left:140px;" class="btn-primary mt-3 mb-3" type="button">Duel someone!</button>
	<h1 style="margin-down:10px; font-size: 15px;" class="flex flex-row text-white ml-5"> Unanswered calls so far : {{unanswered_calls}} </h1>
</script>