<script type="text/html" id="activeWarTimeTemplate">
	<h1 style="margin-top:10px;font-size: 15px;" class="justify-center flex flex-row text-white "> War Time is activated until {{end}} ! </h1>
	<h1 style="margin-top:10px;font-size: 11px;" class="justify-center flex flex-row text-white "> Each won War Time game will get your guild ten points. </h1>
	<div style="text-align: center">
		<button id="challenge-btn" class="btn-primary mt-3 mb-3" type="button">Duel someone!</button>
	</div>
	<h1 style="margin-down:10px; font-size: 11px;" class="justify-center flex flex-row text-white"> Unanswered calls so far : {{unanswered_calls}} </h1>
</script>