<script type="text/html" id="bookTemplate">
	<h1 style="margin-top:10px;" class="justify-center flex flex-row"><b> Request a match at this time? </b></h1>
	<h1 style="margin-top:10px;" class="justify-center flex flex-row"><b> {{date}} </b></h1>
	<button id="timetable-btn" style="margin-left:70px;" class="btn-primary mt-3 mb-10" type="button">Yes</button>
</script>
