<script type="text/html" id="challengeTemplate">
	<h1 style="margin-top:10px;" class="justify-center flex flex-row"><b> You are about to challenge the opposite Guild to a match! </b></h1>
	<h1 id="max-calls" style="margin-top:5px; font-size:12px; display:none" class="justify-center flex flex-row"> Reminder : If your challenge is not accepted after {{time_to_answer}} minutes, you will automatically win the match! </h1>
	<h1 style="font-size:12px" class="justify-center flex flex-row"> If {{max_unanswered_calls}} matches remain unaccepted, War Time will be over. </h1>
	<button id="challenge-btn" style="margin-left:225px;" class="btn-primary mt-3 mb-3 type="button">Challenge!</button>
</script>
