<script type="text/html" id="itemScheduleTemplate">
	<div style="text-align: center">
		<h1 style="padding:5px" class="counter flex flex-row justify-center mt-2">Start: {{start}}. End: {{end}}.</h1>
	</div>
</script>