<script type="text/html" id="itemWarTemplate">
	<div class="row">
		<div> IMG 1</div>
		<div> IMG 2</div>
			<h1 style="float:left;" class="counter text-white"> Start : {{start}}</h1>
			<h1 style="float:left;" class="counter text-white"> End : {{end}}</h1>
			<h1 style="float:right" class="text-white"> for {{prize}} points</h1>
	</div>
	<div class="line flex" style="border: 1px solid; color: #14B8A6; margin:auto;"></div>
</script>

