<script type="text/html" id="pendingWarsTemplate">
	<div class="justify-center">
		<h1 style="margin-top:10px;" class="justify-center flex flex-row  text-white"> Your guild can negotiate the following war declarations :  </h1>
		<div id="listing-pending"></div>
		<h1 style="margin-top:10px; font-size: 12px;" class="flex flex-row text-white ml-5"> You can agree to the terms they have set or propose new ones.</h1>
		<h1 style="margin-top:5px; font-size: 12px;" class="flex flex-row text-white ml-5"> Be careful, you can only accept one war declaration. </h1>
		<h1 style="margin-top:5px; font-size: 12px;" class="flex flex-row text-white ml-5 mb-5"> The others will be destroyed.</h1>
	</div>
</script>
