<script type="text/html" id="pendingWarsTemplate">
	<h1 style="margin-top:10px;" class="justify-center flex flex-row  text-white"> These guilds have declared war to your guild. </h1>
	<h1 style="margin-top:10px;" class="justify-center flex flex-row  text-white"> You can agree to the terms they have set or propose new ones.  </h1>
	<h1 style="margin-top:10px" class="justify-center flex flex-row text-white"> Be careful, you can only accept one war declaration. The others will be destroyed.</h1>
	<div id="listing"></div>
</script>
