<script type="text/html" id="pendingWarTemplate">
	<div class="row">
		<div> IMG 1 & name</div>
		<button id="accept-btn" class="btn-primary" type="button">See war terms</button>
	</div>
	<div class="line flex" style="border: 1px solid; color: #14B8A6; margin:auto;"></div>
</script>
