<script type="text/html" id="scheduleTemplate">
	<div style="text-align: center">
		<h1 style="padding:5px" class="flex flex-row justify-center mt-2"><b> WarTime Schedule</b></h1>
		<div id="list-schedule"</div>
	</div>
</script>