<script type="text/html" id="timetableTemplate">
	<h1 style="margin-top:10px;" class="justify-center flex flex-row"><b> War Time Timetable </b></h1>
	<h1 style="margin-top:10px; font-size:15px" class="justify-center flex flex-row"><b> Accept an opponent match call (in red) or set your own time slot </b></h1>
	<h1 style="margin-top:5px; font-size:12px" class="justify-center flex flex-row"> Reminder : After {{time_to_answer}} minutes, an unaccepted match will be won by its initiator </h1>
	<h1 style="font-size:12px" class="justify-center flex flex-row"> If {{max_unanswered_calls}} matches remain accepted, the guilty guild will lose 10 points and War Time will be over. </h1>
	<h1 style="font-size:12px;" class="justify-center flex flex-row"> Stats : NUMBER Unanswered matches for GUILD 1 / NUMBER unanswered matches for GUILD 2  </h1>
	<div id="timetable"></div>
</script>
