<script type="text/html" id="warWaitingTemplate">
	<h1 style="margin-top:10px;" class="justify-center flex flex-row  text-white"> You are waiting for </h1>
	<div>
		<img style="margin-left: auto; margin-right: auto; margin-top:10px" width="100" height="100" class="flex flex-row rounded-full p-2" src="{{img}}" />
	</div>
	<a style="margin-top:10px; text-decoration: underline;" href="{{url}}" class="justify-center flex flex-row text-white">{{name}} </a>
	<h1 style="margin-top:10px;" class="justify-center flex flex-row text-white"> to confirm the terms of the war : </h1>
	<h1 style="margin-top:10px; font-size: 12px;" class="justify-center flex flex-row text-white"> Prize : {{war.prize}} points </h1>
	<h1 style="font-size: 12px;" class="justify-center flex flex-row text-white"> Start: {{war.start}} </h1>
	<h1 style="font-size: 12px;" class="justify-center flex flex-row text-white"> End: {{war.end}} </h1>
	<h1 style="font-size: 12px;" class="justify-center flex flex-row text-white"> Time to answer War Time Calls: {{war.time_to_answer}} minutes. </h1>
	<h1 style="font-size: 12px;" class="justify-center flex flex-row text-white"> Max tolerable unanswered war time calls: {{war.max_unanswered_calls}} </h1>
	<h1 style="font-size: 12px;" class="justify-center flex flex-row text-white mb-5"> Include tournament games: {{war.inc_tour}} </h1>
</script>
