<script type="text/html" id="warWaitingTemplate">
	<h1 style="margin-top:10px;" class="justify-center flex flex-row  text-white"> You are waiting for </h1>
	<a style="margin-top:10px;" class="justify-center flex flex-row  text-white">{{guilds[1].name}} </a>
	<h1 style="margin-top:10px;" class="justify-center flex flex-row  text-white"> to confirm the terms of the war : </h1>

	<h1 style="margin-top:10px;" class="flex flex-row  text-white"> Prize : {{prize}} points </h1>
	<h1 style="margin-top:10px; margin-down:10px" class="flex flex-row text-white"> Start: {{start}} </h1>
	<h1 style="margin-top:10px; margin-down:10px" class="flex flex-row text-white"> End: {{end}} </h1>
</script>
