<script type="text/html" id="warWaitingTemplate">
	<h1 style="margin-top:10px;" class="justify-center flex flex-row  text-white"> You are waiting for ... to confirm the terms of the war </h1>
	<h1 style="margin-top:10px;" class="justify-center flex flex-row  text-white"> The winning prize is: </h1>
	<h1 style="margin-top:10px" class="justify-center flex flex-row text-white"> {{prize}} points </h1>
	<h1 style="margin-top:10px; margin-down:10px" class="justify-center flex flex-row text-white"> Start: {{start}} </h1>
	<h1 style="margin-top:10px; margin-down:10px" class="justify-center flex flex-row text-white"> End: {{end}} </h1>
	<h1 style="margin-top:10px; margin-down:10px" class="justify-center flex flex-row text-white"> status: {{status}} </h1>
</script>
