<script type="text/html" id="warTimeTemplate">
	<div id="not-active" style="display:none; text-align: center">
		<h1 style="font-size: 11px; padding:5px" class="flex flex-row text-white justify-center mt-2"> There is no active War Time  </h1>
		<h1 style="font-size: 11px; padding:5px" class="flex flex-row text-white justify-center mb-5 mt-2"> During a WarTime you can challenge the opponent guild to play matches. Each match will earn you ten war points.  </h1>
	</div>
	<div id="active"></div>
</script>