<script type="text/html" id="warTimeTemplate">
	<div id="not-active" style="display:none; text-align: center">
		{{#member}}
		<button id="wartime-btn" class="btn-primary--disabled-ladder mt-3" type="button">Activate War time!</button>
		{{/member}}
		{{^member}}
		<button id="wartime-btn" class="btn-primary mt-3" type="button">Activate War time!</button>
		{{/member}}
		<h1 style="font-size: 11px; padding:5px" class="flex flex-row text-white justify-center mb-5 mt-2"> During a WarTime you can challenge the opponent guild to play matches. Each match will earn you ten war points.  </h1>
	</div>
	<div id="active"></div>
</script>