<script type="text/html" id="warNodeTemplate">
	<div id="grow">
		<h1 style="font-size:11px" class="flex flex-row text-white ml-2">From {{start}} to {{end}} </h1> 
		<h1 class="flex flex-row text-white ml-2">War against {{warOpponent.name}}</h1> 
	</div>
</script>
