<script type="text/html" id="warTimeTemplate">
	<div id="not-active" style="display:none">
		<button id="wartime-btn" style="margin-left:140px" class="btn-primary mt-3 mb-10" type="button">Activate War time!</button>
	</div>
	<div id="active"></div>
</script>