<script type="text/html" id="warNodeTemplate">
	<div class="row mt-3">
		<div class="column justify-center" style=" height:60px; text-align: center;">
				<div class="column justify-center ml-5" style="float:left; text-align: center;">
					<h1 style="font-size:13px" class="justify-center flex flex-row text-white">{{ang}} : {{war.war_points}} points </a>
					<h1 style="font-size:13px" class="justify-center flex flex-row text-white">{{war.warOpponent.ang}} : {{war.warOpponent.war_points}} points</a>
				</div>
				<div class="column" style="float:left; text-align: center;margin-left:135px">
					<h1 style="font-size:11px" class=" justify-center flex flex-row text-white">From {{war.start}} to {{war.end}} </h1> 
					<a style="font-size:14px; text-decoration:underline"class="justify-center flex flex-row text-white" href="guild/{{war.warOpponent.id}}">War against {{war.warOpponent.name}}</a>
					<h1 style="font-size:14px" class=" justify-center flex flex-row text-white">Prize : {{war.prize}} pts</h1> 
				</div>
				<div class="column mr-5" style="float:right; text-align: center;">
					<h1 style="font-size:11px;" class="flex flex-row text-white">Total number of games: {{war.nb_games }}</h1>
					<h1 style="font-size:11px;" class="flex flex-row text-white">Total number of War Times: {{war.nb_wartimes }}</h1>
				</div>		
		</div>
	</div>
	<div class="line ml-1" style="width:520px; margin-left:70px; border: 1px solid; color: #14B8A6;"></div>
</script>
