<script type="text/html" id="warTimeTemplate">
	<div id="not-active" style="display:none">
		<button id="wartime-btn" style="margin-left:140px; display:none" class="btn-primary mt-3 mb-10" type="button">Activate War time!</button>
	</div>
	<div id="active" style="display:none">
		<h1 style="margin-top:10px; margin-down:10px; font-size: 15px;" class="flex flex-row text-white ml-5"> War time is activated ! Look for a fight : </h1>
		<button id="challenge-btn" style="margin-left:140px;" class="btn-primary mt-3 mb-10" type="button">Duel someone!</button>
		<h1 style="margin-down:10px; font-size: 15px;" class="flex flex-row text-white ml-5"> Stats : NUMBER Unanswered matches for GUILD 1 / NUMBER unanswered matches for GUILD 2  </h1>
	</div>
</script>