<script type="text/html" id="friendItemTemplate">
	<div id="friend-{{id}}" class="flex flex-row items-center justify-around p-2 border-b border-teal-500 space-x-4">
		<img class="rounded-full h-12 w-12" src="{{avatar_url}}"/>
		<a class="underline text-lg font-semibold" href="/user/{{id}}">{{login}}</a>
		<button id="remove-btn" class="btn-primary" type="button">Remove</button>
	</div>
</script>
