<script type="text/html" id="friendItemTemplate">
	<div id="friend-{{id}}" class="flex flex-row items-center justify-around p-2 border-b border-teal-500 space-x-4">
		<div class="relative h-16 w-16 float-left tooltip">
		<img class="rounded-full h-16 w-16 p-2 mr-5" src="{{avatar_url}}" />
			<div class="presence-bg">
				<div class="presence--{{#inGame}}in_game{{/inGame}}{{^inGame}}{{#is_present}}online{{/is_present}}{{^is_present}}offline{{/is_present}}{{/inGame}}"> </div>
			</div>
			<span class='tooltip-text bg-gray-200 px-2 py-1 -mt-1 rounded text-gray-700'>{{appearing_on}}</span>
		</div>
		<a class="underline text-lg font-semibold" href="/user/{{id}}">{{login}}</a>
		<button id="remove-btn" class="btn-primary" type="button">Remove</button>
	</div>
</script>
