<script type="text/html" id="historyItem">
<div class="row">
  <div class="column">
	<div style="padding:10px">
		{{#chat}}
		<h1 style="float:left;" class="counter text-white">friendly game against <a class="underline" href="user/{{opponentid}}"> {{opponentname}}</a> - </h1>
		{{/chat}}
		{{^chat}}
			{{^opponentid}}
			<h1 style="float:left;" class="counter text-white">{{game_type}} game unanswered </h1>
			{{/opponentid}}
			{{#opponentid}}
			<h1 style="float:left;" class="counter text-white">{{game_type}} game against <a class="underline" href="user/{{opponentid}}"> {{opponentname}}</a> - </h1>
			{{/opponentid}}
		{{/chat}}
		<h1 style="float:left;" class="text-white">
		{{#won}} <p>&nbsp Won </p>{{/won}}
		{{^won}} <p>&nbsp Lost </p>{{/won}}
		</h1>
		{{#forfeit}}<span class="text-white" style="font-size:10px">&nbsp(by forfeit)</span>{{/forfeit}}
		<h1 style="float:right; font-size:12px" class="text-white mt-1">level : {{level}}, goal : {{goal}}</h1>
	</div>
	<div class="line flex mb-2" style="border: 1px solid; color: #14B8A6; margin-right:14px; margin-left:15px"></div>
  </div>
</div>
</script>
