<script type="text/html" id="historyItem">
<div class="row">
  <div class="column" style="padding: 10px; height:90px">
	<div style="padding:30px">
		<h1 style="float:left;" class="counter text-white">
		<a style=" text-decoration: underline;" class="text-white"> Game </a>
		<h1 style="float:right" class="text-white">  points</h1>
	</div>
	<div class="line flex" style="border: 1px solid; color: #14B8A6; margin:auto;"></div>
  </div>
</div>
</script>