<script type="text/html" id="historyItemTemplate">
	<div class="flex flex-row items-center justify-between text-white border-b border-teal-900 p-2">
		<div class="flex flex-row items-center justify-center space-x-2">
			<div class="tooltip">
				{{#war}}
					<svg class="w-4 h-4 text-white fill-current" enable-background="new 0 0 365.725 365.725" version="1.1" viewBox="0 0 365.72 365.72" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
						<path d="m357.29 315.48c-0.11-0.111-0.22-0.222-0.331-0.331l-14.08-13.76-25.68-25.84-19.04-19.04 16.88-16.88c3.102-3.12 3.102-8.16 0-11.28l-18.24-18.24c-3.12-3.102-8.16-3.102-11.28 0l-6.56 6.56-26.96-30.16 106.88-95.68c1.596-1.437 2.547-3.455 2.64-5.6l3.84-76.72c0.123-2.264-0.72-4.474-2.32-6.08-1.606-1.6-3.816-2.443-6.08-2.32l-76.72 3.76c-2.145 0.093-4.163 1.044-5.6 2.64l-91.76 102.88-91.92-102.64c-1.437-1.596-3.455-2.547-5.6-2.64l-76.72-3.76c-2.264-0.123-4.474 0.72-6.08 2.32-1.6 1.606-2.443 3.816-2.32 6.08l3.84 76.72c0.093 2.145 1.044 4.163 2.64 5.6l107.04 96-26.88 29.68-6.56-6.56c-3.12-3.102-8.16-3.102-11.28 0l-18.24 18.24c-3.102 3.12-3.102 8.16 0 11.28l16.88 16.88-19.12 18.96-40 40c-11.443 11.488-11.407 30.078 0.081 41.521 5.483 5.461 12.9 8.537 20.639 8.559 7.772 0.026 15.232-3.056 20.72-8.56l58.72-58.72 16.88 16.88c3.12 3.102 8.16 3.102 11.28 0l18.24-18.24c3.102-3.12 3.102-8.16 0-11.28l-6.24-6.96 34-30.32 34 30.32-6.56 6.56c-3.102 3.12-3.102 8.16 0 11.28l18.24 18.24c3.12 3.102 8.16 3.102 11.28 0l16.88-16.88 58.72 58.72c11.374 11.557 29.963 11.705 41.52 0.331 11.557-11.373 11.705-29.963 0.331-41.519zm-89.851-87.452-14.08 14.08-30.08-30.08 16.56-14.8 27.6 30.8zm-248-146.96-3.2-64.56 64.56 3.2 90.88 101.6-18.56 20.72-33.6-33.6c-3.356-2.874-8.406-2.483-11.28 0.873-2.565 2.995-2.565 7.412 0 10.407l34.64 34.32-18.4 20.72-105.04-93.68zm19.12 264c-2.498 2.514-5.896 3.925-9.44 3.92-7.358-0.546-12.881-6.954-12.334-14.312 0.218-2.943 1.405-5.73 3.374-7.928l8-8 18.72 18.48-8.32 7.84zm19.52-19.52-18.4-18.48 14.48-14.48 18.88 18.88-14.96 14.08zm25.84-25.84-18.88-18.88 13.84-12.96 18.88 18.88-13.84 12.96zm47.2-2.16-46.96-46.96-16.48-16.56 6.88-6.88 64 64-7.44 6.4zm6-30.48-14.08-14.08 133.6-133.6c3.356-2.874 3.747-7.924 0.873-11.28s-7.924-3.747-11.28-0.873c-0.313 0.268-0.605 0.56-0.873 0.873l-133.6 133.6-14.08-14.08 32.8-36.64 154.08-171.2 64.56-3.2-3.2 64.56-110.56 98.8-98.24 87.12zm57.28-29.84 17.2-14.48 30.64 30.64-14.08 14.08-33.76-30.24zm56 43.44-16.24 17.28-6.88-6.88 64-64 6.88 6.88-16.88 16.88-30.88 29.84zm16.96 5.68 19.52-18.48 13.36 13.36-18.88 18.88-14-13.76zm39.2 39.2-14.48-14.48 18.88-18.88 14.48 14.48-18.88 18.88zm39.04 19.92-0.64-0.4c-5.285 5.039-13.595 5.039-18.88 0l-8-8 19.28-18.32 8 8c5.17 5.131 5.276 13.458 0.24 18.72z"/>
					</svg>
				{{/war}}
				{{#friendly}}
					<svg class="w-6 h-6 text-white stroke-current" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
				{{/friendly}}
				{{#ladder}}
					{{#won}}
						<svg class="w-6 h-6 text-white stroke-current" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path></svg>
					{{/won}}
					{{^won}}
						<svg class="w-6 h-6 text-white stroke-current" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"></path></svg>
					{{/won}}
				{{/ladder}}
				{{#tournament}}
					<svg class="w-6 h-6 text-white stroke-current" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
				{{/tournament}}
				<span class="tooltip-text bg-gray-200 px-2 py-1 rounded text-gray-700">{{#war}}War{{/war}}{{#friendly}}Friendly{{/friendly}}{{#ladder}}Ladder{{/ladder}}{{#tournament}}Tournament{{/tournament}}</span>
			</div>
			<a class="underline" href="/user/{{opponent.id}}">{{opponent.name}}</a>
		</div>
		<div class="flex flex-row">
			<div class="w-5 h-5 flex items-center justify-center {{#won}}bg-green-400{{/won}} {{^won}}bg-red-400{{/won}} rounded-md tooltip">
				{{#won}}
					<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
					<span class="tooltip-text bg-gray-200 px-2 py-1 -mt-6 rounded text-gray-700">Won</span>
				{{/won}}
				{{^won}}
					<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path></svg>
					<span class="tooltip-text {{#forfeit}}w-32{{/forfeit}} bg-gray-200 px-2 py-1 -mt-6 rounded text-gray-700">Lose {{#forfeit}}(by forfeit){{/forfeit}}</span>
				{{/won}}
			</div>
			<div class="ml-2">
				{{score}}
			</div>
		</div>
		<div class="tooltip">
			{{date}}
			<span class="tooltip-text bg-gray-200 px-2 py-1 -mt-6 rounded text-gray-700">{{hour}}</span>
		</div>
	</div>
</script>
