<script type="text/html" id="requestItemTemplate">
<div id="pending-member-{{id}}" class="row" >
	<img style="float:left" width="80" height="80" class="rounded-full p-2 ml-5" src="{{avatar_url}}" />
	<div style="padding:15px">
		<table>
		<tr>
			<td style="padding:0 20px;"><h1 class="text-white m-auto ml-1"><a href='/user/{{id}}'>{{name}}</a></h1></td>
			<td>
				<button id="accept-btn" class="btn-primary ml-5" type="button">Accept</button>
			</td>
			<td>
				<button id="refuse-btn" class="btn-primary" type="button">Refuse</button>
			</td>
		</tr>
		</table>
		<div class="line flex flex-row" style="border: 1px solid; color: #14B8A6; margin-left:75px; margin-top: 10px; width:280px"></div>
	</div>
</div>
</script>