<script type="text/html" id="message-notification-template">
 <div id="message-notification-{{id}}" class="text-gray-600 my-2 text-center">
  <div class="text-sm">
    {{day}} {{time}}
  </div>
    <div>
     {{content}}
    </div>
  </div>
</script>
