


<script type="text/html" id="game">
  <div class="flex h-screen">
    <h1 class="m-auto text-5xl text-teal-500">Page of Thrones</h1>
  </div>
</script>

<script type="text/html" id="gameTemplate">
  <div class="flex h-screen">
    <h1 class="m-auto text-5xl text-teal-500">Page of Game</h1>
  </div>
</script>
