
<script type="text/html" id="index_game">
<div class="flex h-screen">
  <h1 class="m-auto text-5xl text-teal-500">Page of Thrones</h1>
  <label class="block m-auto text-5xl text-teal-500" for="input-enemy">
  <input class="form-input block mt-1"
            type="button"
            name="create_game"
            id="create_game" value="create a game"/>
            <input class="form-input block mt-1" type="button"
            name="join_tournament"
            id="join_tournament" value="join a tournament">
          </label>
          <body>
<h1>Pong</h1>

<div id="header-plugin"></div>

<canvas id="canvas" width=480 height=640>Click on the rectangle...</canvas>

</script>



<script type="text/html" id="game">
    <form action="" method="get">
      <label for="pet-select">Choose a level:</label>
    <select name="level" id="level">
      <option value="easy">Easy</option>
      <option value="normal">Normal</option>
    <option value="hard">Hard</option>
  </select>
  <p>
  <label for="pet-select">Choose a number of points:</label></p>
  <select name="points" id="points">
      <option value="">--Please choose an option--</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=8>8</option>
      <option value=9>9</option>
  </select>
  <div>
    <input type="radio" id="one" name="radio_points" value="1">
    <label for="one">1</label>
  </div>

<div>
  <input type="radio" id="two" name="radio_points" value="two">
  <label for="two">2</label>
</div>

<div>
  <input type="radio" id="three" name="radio_points" value="three">
  <label for="three">3</label>
</div>

        <label class="block" for="input-enemy">
          <span class="text-white font-semibold">Add an enemy</span>
          <input class="form-input block mt-1"
            type="text"
            name="input-enemy"
            id="input-enemy"/>
            <span class="text-white font-semibold">Enter</span>
            <input class="form-input block mt-1"
            type="button"
            name="enter"
            id="game-enter"/>
        </label>
      </form>
  </div>
</script>

<script type="text/html" id="play">
  <div class="flex h-screen">
    <h1 class="m-auto text-5xl text-teal-500">You are playing {{Type}}</h1>
  </div>
</script>

<script type="text/html" id="oups">
  <div class="flex h-screen">
    <h1 class="m-auto text-5xl text-teal-500">oups</h1>
  </div>
</script>
