
<script type="text/html" id="index_game">
<div class="flex h-screen">
  <h1 class="m-auto text-5xl text-teal-500" id="score">Page of Game</h1>
  <label class="block m-auto text-5xl text-teal-500" for="input-enemy">
  <input class="form-input block mt-1"
            type="button"
            name="create_game"
            id="create_game" value="create a game"/>
            <input class="form-input block mt-1" type="button"
            name="join_tournament"
            id="join_tournament" value="join a tournament">
          </label>
</script>


<script type="text/html" id="playing">
<div class="flex h-screen">
<h1 class="m-auto text-5xl text-teal-500" id="score">You are playing {{level}} </h1>
<p class="block m-auto text-teal-500">Joueur 1 : <em id="player-score">0</em> - Joueur 2 : <em id="computer-score">0</em></p>
<input class="form-input block mt-1" type="button" name="play_game" id="play-game" value="play"/>
<canvas id="canvas_yes" width="500" height="250">
  Désolé, votre navigateur ne prend pas en charge &lt;canvas&gt;.
</canvas>
</script>

<canvas id="canvas" width="500" height="250">
  Désolé, votre navigateur ne prend pas en charge &lt;canvas&gt;.
</canvas>


<script type="text/html" id="game_win">
<div class="flex h-screen">
<h1 class="m-auto text-5xl text-teal-500" id="score">You won a {{level}} game</h1>
</script>
<script type="text/html" id="game_lost">
<div class="flex h-screen">
<h1 class="m-auto text-5xl text-teal-500" id="score">You lost a {{level}} game</h1>
</script>
<script type="text/html" id="game_finished">
<div class="flex h-screen">
<h1 class="m-auto text-5xl text-teal-500" id="score">The {{level}} game is finished</h1>
</script>
<script type="text/html" id="waiting">
<div class="flex h-screen">
<h1 class="m-auto text-5xl text-teal-500" id="score">Waiting for someone</h1>
</script>
