<script type="text/html" id="guildPageTemplate">
<div id="index-navbar"></div>
<div class="relative flex-grow">
    <div
      class="bg-teal-900 m-auto px-32 py-24 max-w-3xl rounded-3xl flex flex-col justify-center hover:shadow-2xl transition-shadow ease-in-out duration-300"
    >
		<div id="guild-general">
			<h1 class="text-4xl text-white ml-8 font-bold">GUILD</h1>
		</div>
		<div id="guild-members">
		<h1 class="text-4xl text-white ml-8">Members</h1>
		</div>
      </div>      
    </div>
  </div>
</script>
