<script type="text/html" id="guildIndexTemplate">
<div class= "flex flex-col justify-center max-w-6xl">
	<div class="flex flex-col m-10 justify-center m-auto max-w-6xl" style="margin-top:50px">
			<button id="create-btn" class="btn-primary" type="button">Create your guild</button>
	</div>
</div>
</script>
