<script type="text/html" id="notifPageTemplate">
  <div class="relative flex flex-grow " style="justify-content: center;">
    <div style="background-color:#115E59; float:center; margin:50px"
      class=" bg-teal-900 w-1/2 rounded-3xl flex flex-col flex-grow max-w-2xl hover:shadow-2xl transition-shadow ease-in-out duration-300"
    >
		<div style="background-color:#134E4A; height:50px; text-align: center;" class=" text-white px-32 py-5">My notifications</div>
		<h1 class="flex flex-row text-black m-auto mt-10 mb-10" id="empty" style="display:none">You have no notifications.</h1>  
		<div class="py-5" id="listing"></div>
	</div>
</div>
</script>
