<script type="text/html" id="playGameTemplate">
	<div class="relative flex flex-col page-height justify-center items-center">
	{{#isTraining}}
		<h1 class="text-center text-2xl font-semibold text-gray-800">Training</h1>
	{{/isTraining}}
	{{#firstPlayerName}}
		<h1 class="text-center text-2xl font-semibold text-gray-800">{{firstPlayerName}} vs {{secondPlayerName}}</h1>
	{{/firstPlayerName}}
		<canvas class="pong-canvas my-8" id="pong" width="600" height="400"></canvas>
		<div id="spectators"></div>
	</div>
</script>
