<script type="text/html" id="playGameTemplate">
	<div class="relative flex flex-grow " style="justify-content: center;">
		<div id="game-data">DATA</div>
		<div id="game-container"></div>
	</div>
</script>