<script type="text/html" id="playGameTemplate">
	<div class="relative flex page-height justify-center items-center">
		<canvas class="pong-canvas" id="pong" width="600" height="400">
	</div>
</script>
