<script type="text/html" id="tempTournamentTemplate">
<div class="flex" style="justify-content: center;"></div>
    <div style="background-color:#115E59; float:left; margin-top:40px; margin-left:50px; margin-right: 50px"
      class=" bg-teal-900 w-1/2 rounded-3xl flex flex-col flex-grow max-w-2xl hover:shadow-2xl transition-shadow ease-in-out duration-300"
    >
		<div style="background-color:#134E4A; height:50px; text-align: center;" class=" text-white px-32 py-5">Tournaments</div>
		<h1 class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;"> Tournaments are organized with 8 participants competing in three rounds of knockout matches : opening matches, semi-final matches, and a final match. </h1>
		<h1 class="justify-center text-white flex flex-row" style="font-size:11px; text-align: center;" > Tournaments matches are of hard difficulty and are played in 9 points. </h1>
		<h1 class="justify-center text-white flex flex-row" style="font-size:11px; text-align: center;"> Each week a Tournament will be organized on this page, and Administrators can also organize specific tournaments. </h1>
		<h1 class="justify-center text-white flex flex-row mt-3" style="text-align: center; text-decoration:underline"> Open Registrations </h1>
		<h1 class="justify-center text-align: center; text-white flex flex-row" style="font-size:11px;"> One player can only register to one tournament at a time. </h1>
		<div class="py-5" id="listing"></div>
		<div id="admin">	
			<h1 class="justify-center text-white flex flex-row mt-3" style="text-align: center; text-decoration:underline"> Admin Section </h1>
			<div style="text-align: center">
				<button id="create-tour-btn" class="btn-primary mt-3 mb-3" type="button">Create new tournament</button>
			</div>
		</div>
	</div>
	<div style="background-color:#115E59; margin-top:40px;"
		class=" bg-teal-900 w-1/3 rounded-3xl flex flex-col flex-grow max-w-2xl max-h-2xl hover:shadow-2xl transition-shadow ease-in-out duration-300"
	>
		<div style="background-color:#134E4A; height:50px; text-align: center;" class=" text-white px-32 py-5">My Participations</div>
		<div id="participations">You have not registered to any tournament</div>
	</div>    

</script>