<script type="text/html" id="tournamentShowTemplate">
<div class="tournament-header"><h1>{{name}} Tournament</h1></div>
<div class="bracket-container">
  <div class="round">
  	<h1 class="type"> Quarter </h1>
    <div class="match">
      <div class="player">
        <div class="player-name">Empty</div><div class="score">0</div>
      </div>
      <div class="player">
        <div class="player-name">Empty</div><div class="score">0</div>
      </div>
    </div>
    <div class="match">
		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
  		</div>
 		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
  		</div>
	</div>
    <div class="match">
		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
  		</div>
 		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
  		</div>
	</div>
    <div class="match">
		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
  		</div>
 		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
  		</div>
	</div>
  </div>
  <div class="round">
  	<h1 class="type"> Semi </h1>
	<div class="match semi">
		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
			</div>
		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
			</div>
	</div>
    <div class="match semi">
		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
  		</div>
 		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
  		</div>
	</div>
  </div>
  <div class="round">
  	<h1 class="type"> Final </h1>
	<div class="match final">
		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
			</div>
		<div class="player">
			<div class="player-name">Empty</div><div class="score">0</div>
		</div>
	</div>
  </div>
</div>
<div class="info-container">INFOS AND TROPHY</div>
</script>
