<script type="text/html" id="tournamentShowTemplate">
<div class="tournament-header"><h1>{{name}} Tournament</h1></div>
<div class="bracket-container">
  <div class="round" id="round1"></div>
  <div class="round" id="round2"></div>
  <div class="round" id="round3"></div>
</div>
<div class="info-container">
	<div>
		<img style="margin-left: auto; margin-right: auto; margin-top:10px" width="100" height="100" class="flex flex-row rounded-full p-2" src="{{trophy_url}}" />
	</div>
	<h1 class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;"> Registration start: {{registration_start}} </h1>
	<h1 class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;"> Registration end: {{registration_end}} </h1>
	<h1 class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;"> Phase: {{status}} </h1>
	<h1 class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;">Organized by: &nbsp<a style=" text-decoration: underline;" href="/user/{{owner.id}}"> {{owner.name}}</a></h1>
	{{^user_status}}
		{{#full}}
		<button id="register-btn" class="btn-primary mt-3 btn-disabled" type="button">Register</button>
		<h1 class="justify-center text-white flex flex-row" style="font-size:11px; text-align: center;">This tournament is full. It will start {{countStart}}.</h1>
		{{/full}}
		{{^full}}
		<div style="text-align: center">
			<button id="register-btn" class="btn-primary mt-3 mb-3" type="button">Register</button>
		</div>
		{{/full}}
	{{/user_status}}
	{{#user_status}}
	<div style="text-align: center">
		<button id="register-btn" class="btn-primary mt-3 btn-disabled" type="button">Register</button>
		<h1 class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;">You are registered to this tournament.</h1>
		<h1 class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;">Status: {{user_status}}</h1>
		{{#full}}
		<h1 class="justify-center text-white flex flex-row" style="font-size:11px; text-align: center;">This tournament is full. It will start {{countStart}}.</h1>
		{{/full}}
	</div>
	{{/user_status}}
	<h1 class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;" > Tournaments matches are of hard difficulty and are played in 9 points. </h1>
</div>
</script>
