<script type="text/html" id="userPageTemplate">
  <div class="relative flex flex-grow text-white" style="margin-top:45px; margin:60px ">
    <div style="background-color:#115E59"
      class=" bg-teal-900 w-1/4 rounded-3xl flex flex-col flex-grow max-w-2xl hover:shadow-2xl transition-shadow ease-in-out duration-300">
		<div class="text-center px-16 h-16 bg-teal-900 flex flex-row justify-center items-center text-3xl relative">
			<div class="flex-1">
				{{name}}{{#admin}} [admin]{{/admin}}
			</div>
			{{^is_current_user}}
				{{^is_friend}}
				<svg id="add-friend" class="w-8 h-8 text-white stroke-current cursor-pointer mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path></svg>
				{{/is_friend}}

				{{#is_friend}}
				<svg id="remove-friend" class="w-8 h-8 text-white stroke-current cursor-pointer mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6"></path></svg>
				{{/is_friend}}
	  			<svg id="send-dm" class="w-8 h-8 text-white stroke-current cursor-pointer ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
			{{/is_current_user}}
		</div>
			<img class="w-40 h-40 rounded-full p-2 mx-auto mt-6" src={{avatar_url}} alt="User avatar"/>
		<div class="pb-10 py-16 px-16 text-center">
			<h2 class="text-2xl mb-2 font-semibold">Account:</h2>
			<div>
				<div><span class="font-bold">Name: </span>{{login}}</div>
				<div><span class="font-bold">Creation date: </span>{{created_at}}</div>
				<div><span class="font-bold">Email: </span>{{email}}</div>
			</div>
			<div class="flex border border-gray-100 my-4"></div>
			<h2 class="text-2xl mb-2 font-semibold">Stats:</h2>
			<p>Nothing at the moment</p>
			{{#has_guild}}
				<div class="flex border border-gray-100 my-4"></div>
				<h2 class="text-2xl mb-2 font-semibold">Guild:</h2>
				<div class="flex flex-col justify-center items-center">
					<p><span class="font-bold">{{guild_role}}</span> of the guild</p>
				<a class="underline" href="/guild/{{guild.id}}">
					<img class="rounded-full p-2 w-16 h-16 mt-2 mx-auto" src={{guild.img_url}}/>
					<p class="mb-2">{{guild.name}}</p>
				</a>
			{{/has_guild}}
			</div>
		</div>
	</div>
  </div>
</script>
