<script type="text/html" id="infoTemplate">
	<div class="relative flex-grow" style="m-auto ">
		<div class="flex flex-col" items-center style="width: 200px; float:left; height:200px; margin:60px">
			<div id="pageImg"></div>
			<a  class="flex flex-row" style="text-decoration: underline; color:white; margin-left: 45px; margin-top: 10px; font-size: 15px" href="url">See War History</a>
		</div>
		<div class="flex flex-col" style="width: 250px; float:left; height:150px; margin-left:90px; margin-top:70px">
			<h1 class="flex flex-row text-4xl text-white"> {{name}} </h1>
			<div> 
				<h1 style= "float:left" class="flex flex-row text-3xl text-white"> [{{ang}}] </h1>
				<button id="edit-btn" style="display:none" class="flex items-center justify-center">
    				<img style= "float:right; margin-top:10px" class="w-8 h-8 rounded-full p-2" src="https://p7.hiclipart.com/preview/994/388/842/computer-icons-editing-font-awesome-vector-graphics-editor-advertising.jpg" />
  				</button>
			</div>
			<h1 style="margin-top:35px" class="flex flex-row text-2xl text-white"> {{points}} points <h1>
		</div>
		<div id="join" class="flex flex-col" style="float:right; margin-top:150px; display:none">
			<button id="join-btn" class="btn-war" style="background-color:#14B8A6" type="button">Ask To Join</button>
		</div>
		<div id="war" class="flex flex-col" style="float:right; margin-top:150px; display:none">
			<button id="war-btn" class="btn-war" type="button">Declare War!</button>
		</div>
		<div id="quit-btn" class="flex flex-col" style="float:right; display:none">
			<button style:"margin-top:40px" class="btn-primary" type="button">Quit Guild</button>
		</div>
	</div>
</script>

