<script type="text/html" id="infoTemplate">
	<div class="relative flex-grow" style="m-auto ">
		<div class="flex flex-col" items-center style="width: 200px; float:left; height:200px; margin:60px">
			<img width="200" height="200" class="flex flex-row rounded-full p-2" src="{{img_url}}" />
			<a  class="flex flex-row" style="text-decoration: underline; color:white; margin: 40px; font-size: 15px" href="url">See War History</a>
		</div>
		<div class="flex flex-col" style="width: 250px; float:left; height:150px; margin:50px; margin-top:70px">
			<h1 class="flex flex-row text-4xl text-white"> {{name}} </h1>
			<h1 class="flex flex-row text-3xl text-white"> [{{ang}}] </h1>
			<h1 style="margin-top:35px" class="flex flex-row text-2xl text-white"> {{points}} points <h1>
		</div>
		<div class="flex flex-col" style="float:right; margin-top:150px">
			<button id="war-btn" class="btn-war" type="button">Declare War!</button>
		</div>
	</div>
</script>
