<script type="text/html" id="infoTemplate">
	<div items-center style="width: 200px; float:left; height:200px; margin:60px">
		<img width="200" height="200" class="rounded-full p-2" src="https://i.pinimg.com/originals/1a/27/ff/1a27ff81c19e1c10583ea970b0f3827f.jpg" />
		<a style="text-decoration: underline; color:white; margin: 40px; font-size: 15px" href="url">See War History</a>
	</div>
	<div style="width: 250px; float:left; height:150px; margin:50px; margin-top:70px ">
		<h1 class="text-4xl text-white"> {{name}} </h1>
		<h1 class="text-3xl text-white"> [{{ang}}] </h1>
		<h1 style="margin-top:35px" class="text-2xl text-white"> {{points}} points <h1>
	</div>
	<div style="float:right; margin-top:150px">
		<button id="war-btn" class="btn-war" type="button">Declare War!</button>
	</div>
</script>
