<script type="text/html" id="itemTemplate">
<div class="row">
  <div class="column" style="padding: 10px; height:90px">
	<img style="float:left" width="80" height="80" class="rounded-full p-2" src="{{img_url}}" />
	<div style="padding:30px">
		<h1 style="float:left;" class="counter text-white">
		<a style=" text-decoration: underline;" class="text-white" href="/guild/{{id}}">{{name}}</a>
		<h1 style="float:right" class="text-white"> {{points}} points</h1>
	</div>
	<div class="line flex" style="border: 1px solid; color: #14B8A6; margin:auto;"></div>
  </div>
</div>
</script>



