<script type="text/html" id="manageMemberTemplate">
  <div class="flex justify-center items-center">
    <button class="btn-primary mt-8" id="promote" type="button">Promote</button>
  </div>
  <div class="flex justify-center items-center">
	<button class="btn-primary mt-8" id="demote" type="button">Demote</button>
  </div>
  <div class="flex justify-center items-center">
	<button class="btn-primary bg-red-400 mt-8" id="fire" type="button">Fire</button>
  </div>
</script>
