
<script type="text/html" id="memberTemplate">
<div class="row" >
	<div style="padding: 10px; height:80px">
		<div id="manage-btn" style=" display:none; float:right; mt-8">
			<button class="flex">
				<img class="w-10 h-10 rounded-full p-2" src="https://www.pngkey.com/png/full/207-2072057_process-icon-white-png.png" />
			</button>
		</div>
		<div class="relative h-16 w-16 float-left">
		<img class="rounded-full h-16 w-16 p-2 mr-5" src="{{avatar_url}}" />
			<div class="presence-bg">
				<div class="presence--{{#is_present}}online{{/is_present}}{{^is_present}}offline{{/is_present}}"> </div>
			</div>
		</div>
		<div>
			<h1 style="float:left; width:25%;" class="counter text-white mt-5">
				<a style=" text-decoration: underline;" class="text-white" href="/user/{{id}}">{{name}}</a>
			</h1>
			<h1 style="float:left; width:50%; " class="text-white mt-5">{{guild_role}}</h1>
			<h1 style="float:right; width:25%; margin-top:-20px" class="text-white"> {{contribution}} points</h1>
		</div>
	</div>
	<div class="line flex" style="border: 1px solid; color: #14B8A6; margin:auto; width:500px"></div>
</div>
</script>


