<script type="text/html" id="memberTemplate">
<div class="row">
  <div class="column" style="padding: 10px; height:90px">
  	<img style="float:left" width="80" height="80" class="rounded-full p-2" src="{{avatar_url}}" />
	<div style="padding:30px">
		<h1 style="float:left;" class="counter text-white">{{name}}</h1>
		<h1 style="float:center;" class="text-white">{{guild_role}}</h1>
		<h1 style="float:right" class="text-white"> points</h1>
	</div>
	<div class="line flex" style="border: 1px solid; color: #14B8A6; margin:auto;"></div>
  </div>
</div>
</script>
