<script type="text/html" id="memberTemplate">
<div class="row" >
	<img style="float:left" width="80" height="80" class="rounded-full p-2" src="{{avatar_url}}" />
	<div style="padding:25px">
		<table>
		<tr>
			<td style="padding:0 20px;"> <h1 class="counter text-white m-auto">{{name}}</h1></td>
			<td style="padding:0 70px;"> <h1 class="text-white m-auto">{{guild_role}}</h1></td>
			<td style="padding:0 50px;"> <h1 class="text-white m-auto">{{contribution}} points</h1></td>
		</tr>
		</table>
		<div class="line flex flex-row" style="border: 1px solid; color: #14B8A6; margin-left:40px; margin-top: 20px; width:440px"></div>
	</div>
</div>
</script>
