<script type="text/html" id="memberTemplate">
<div class="row" style="padding:20px">
	<img style="float:left" width="80" height="80" class="rounded-full p-2" src="{{avatar_url}}" />
	<div style="padding:25px">
		<table>
		<tr>
			<td style="padding:0 20px;"> <h1 style="float:left;" class="counter text-white m-auto">{{name}}</h1></td>
			<td style="padding:0 50px;"> <h1 style="float:center;" class="text-white m-auto">{{guild_role}}</h1></td>
			<td style="padding:0 100px;"> <h1 style="float:right" class="text-white m-auto">points</h1></td>
		</tr>
		</table>
		<div class="line flex" style="border: 1px solid; color: #14B8A6; margin:auto;"></div>
	</div>
</div>
</script>
