<script type="text/html" id="noGuildTemplate">
	<h1 style="margin-top:10px" class="justify-center flex flex-row text-white"> You dont have a Guild yet. </h1>
	<h1 style="margin-top:10px" class="justify-center flex flex-row text-white"> You can join one or create your own. </h1>
	<div class="flex m-10 justify-center m-auto max-w-6xl" style="margin-top:30px; margin-bottom:50px">
		<button id="create-btn" class="btn-primary" type="button">Create your guild</button>
	</div>
</script>