
<script type="text/html" id="pendingTemplate">
  <div class="relative flex flex-grow">
    <div
      class=" bg-teal-900 w-1/2 rounded-2xl flex flex-col flex-grow max-w-2xl ease-in-out duration-300"
	>
		<h1 class="flex flex-row text-white ml-10 mr-10 mt-10" id="empty" style="display:none">There are no pending requests.</h1>
		<h1 class="flex flex-row text-white ml-10 mr-10 mt-10" id="notEmpty" style="display:none">These players have requested to join your guild :</h1>
		  <div class="py-5" id="listing"></div>
		  
	</div>
  </div>
</script>

