<script type="text/html" id="withGuildTemplate">
	<h1 class="flex flex-row text-1xl text-white"> You belong to: </h1>
	<img width="200" height="200" class="flex flex-row rounded-full p-2" src="{{guild.img_url}}" />
	<h1 class="flex flex-row text-4xl text-white"> {{guild.name}} </h1>
	<h1 class="flex flex-row text-1xl text-white"> Your status within this guid is {{guild_role}} </h1>
</script>