<script type="text/html" id="withGuildTemplate">
	<div class="p-4 text-white">
		<div class="flex items-center justify-center">
			<img class="flex flex-row rounded-full p-2 h-32 w-32" src="{{guild.img_url}}" />
		</div>
		<div class="flex flex-col space-y-2 items-center justify-center">
			<a class="text-3xl underline " href="/guild/{{guild.id}}">{{guild.name}}</a>
			<h4> {{guild.points}} points </h4>
			<h4>{{guild_role}}</h4>
		</div>
	</div>
</script>
