<script type="text/html" id="withGuildTemplate">
	<h1 class="flex flex-row text-4xl text-white"> You belong to: </h1>
	<h1 class="flex flex-row text-4xl text-white"> {{guild.name}} </h1>
	<h1 class="flex flex-row text-4xl text-white"> Your status within this guid is {{guild_role}} </h1>
</script>