<script type="text/html" id="withGuildTemplate">
	<h1 style="margin-top:10px" class="justify-center flex flex-row  text-white"> You belong to: </h1>
	<img width="100" height="100" class="flex flex-row rounded-full p-2" src="{{guild.img_url}}" />
	<h1 style="margin-top:10px" class="justify-center flex flex-row text-4xl text-white"> {{guild.name}} </h1>
	<h1 style="margin-top:10px" class="justify-center flex flex-row text-white"> Your status within this guid is : </h1>
	<h1 style="margin-top:10px" class="justify-center flex flex-row text-2xl text-white"> {{guild_role}} </h1>
</script>