<script type="text/html" id="notifTemplate">
  <div id="notif-item" style="width:300px">
	<a style="width:200px; float:left;" href="{{url}}">{{actor.name}} {{action}} {{notifiable.name}}</a>
	<div id="time" style="font-size:10px"></div>
  </div>
</script>