<script type="text/html" id="notificationsTemplate">
  <div id="notifications-container"class="notif-container" >
  <h1 class="flex flex-row text-black ml-10 mr-10 mt-10" id="empty" style="display:none">You have no notifications.</h1>
	<div id="see-btn" style=" margin: auto">
		<button class="btn-primary" type="button">See all</button>
	</div>
  </div>
</script>
