<script type="text/html" id="notificationsTemplate">
	<div id="notif-backdrop" class="absolute top-0 left-0 h-full w-full">
		<div class="notif-container" >
			<div id="notifications-container">
				<h1 class="flex flex-row text-black m-auto mt-10 mb-10" id="empty" style="display:none">You have no notifications.</h1>
			</div>
			<a href="/me/notifications" id="see-btn" class="m-auto mt-5 mb-8">
				<button class="btn-primary" type="button">See all</button>
			</a>
		</div>
	</div>
</script>
