<script type="text/html" id="notifTemplate">
  <div id="notif-item" class="mt-5 ml-5 mr-5">
  	<div id="time" style="font-size:10px;"></div>
	<a id="content" style=" margin-top:10px;" href="">{{actor.name}} {{action}} {{notifiable.name}}</a>
  </div>
</script>
