<script type="text/html" id="notifTemplate">
  <div id="notif-item" style="padding:10px">
  	<div id="time" style="font-size:10px;"></div>
	<a style=" margin-top:10px;" href="{{url}}">{{actor.name}} {{action}} {{notifiable.name}}</a>
  </div>
</script>