<script type="text/html" id="notificationsTemplate">
  <div id="notifications-container"class="notif-container" >
	<div id="see-btn" style=" margin: auto">
		<button class="btn-primary" type="button">See all</button>
	</div>
  </div>
</script>
