
<script type="text/html" id="pendingTemplate">
	<div>
		<span class="flex flex-row ml-10 mr-10 mt-10" id="empty" style="display:none">There are no pending requests.</span>
		<span class="flex flex-row justify-center font-semibold" id="notEmpty" style="display:none">These players have requested to join your guild :</span>
		<div class="py-5" id="listing"></div>
	</div>
</script>

