<script type="text/html" id="chatTemplate">
  <div class="bg-white w-1/3 max-w-xl absolute top-0 right-0 h-full flex flex-col" id="chat-container">
    <div
      class="flex flex-col h-full space-y-6 p-8 overflow-y-scroll"
      id="messages-container"
    ></div>
    <div class="p-3">
      <input
        class="form-input w-full border-2 border-teal-400"
        placeholder="Start typing..."
        type="text"
        id="input-message"
      />
    </div>
  </div>
</script>
