<script type="text/html" id="confirmation-modal-template">
	<div class="p-4">
		<span class="font-semibold text-center text-gray-800 text-2xl">{{question}}</span>

		<div class="flex flex-row items-center justify-center space-x-6 mt-6">
			<button id="yes-btn" class="btn-primary">Yes</button>
			<button id="no-btn" class="btn-danger">No</button>
		</div>
	</div>
</script>
