<script type="text/html" id="help">
	<div class="p-12 flex justify-center items-center">
		<div class="p-4 bg-teal-700 text-white rounded-md">
			<div class="font-bold underline text-xl">Games Rule Set</div>
			<p class="underline font-medium text-l">How to play? </p>
			<div class="ml-1">
			<p>When you find a match, you must be loaded in the game. Each players needs to click on « ready » to start playing. </p>
			<p>When everyone is ready, the first player logged in must click on the pong to make the ball move. </p>
			<p>You can move your paddle with your mouse.</p>
			<p>You can pause the game by navigating to another page or leaving the website. You have 30 seconds to come back to game otherwise you’ll lose by forfeit. If you do it once again you have 15 seconds to come back, then 10 seconds and if you do it a fourth time you lose by forfeit.</p>
		</div>
			<p class="underline font-medium text-l">1. Friendly game </p>
			<div class="ml-1">
				<p>There is a matchmaking system with witch you play only for fun with a random player. If we don’t match you with another player within 5 minutes, the game will be canceled.</p>
				<p>You can also dual someone directly via the chat</p>
				<p>You have the ability to choose the difficulty of friendly games, as well as the number of points that must be reached in order to win.</p>
			</div>
			<p class="underline font-medium text-l">2. Training </p>
			<div class="ml-1">
				<p>In training, you play against an A.I. You can’t win but you can improve yourself! You can play easy, normal or hard.</p>
			</div>
			<p class="underline font-medium text-l">3. Ladder Game </p>
			<div class="ml-1">
				<p> You can play against an opponent that is ranked higher than you. </p>
				<p>If you win, you will take the rank of your opponent. If you lose, you must play against someone else before challenging the same player again.</p>
				<p>If you fail to accept a ladder challenge within 2 days, you will automatically lose.</p>
				<p>You cannot start or accept any other type of match if you have a pending ladder challenge.</p>
				<p>Ladder games are of normal difficulty and are played in 9 points.</p>
			</div>
			<p class="underline font-medium text-l">4. Tournaments </p>
			<div class="ml-1">
				<p>Tournaments are organized with 8 participants competing in three rounds of knockout matches : opening matches, semi-final matches, and a final match.</p>
				<p>Tournaments last three days, one day per round.</p>
				<p>Each week a Tournament will be organized on <a class="font-bold hover:underline" href="/tournaments">tournaments page</a>, and Administrators can also organize specific tournaments.</p>
				<p>Each day there is one round so you have one day to play tournament game. If the game isn't played, the winner is random except if one of them is ready to play. For the finale, no one win if the game isn't played. <p>
			</div>
			<p class="underline font-medium text-l">5. War Time</p>
			<div class="ml-1">
				<p>During a war time a member can ask to fight randomly any one from the other guild. If no one answers the challenge within the time frame agreed between the guilds, the match is automatically won.</p>
				<p>There can be only one "War time" match at the same time, to avoid big guilds to flood small ones.</p>
			</div>
			<p class="underline font-medium text-l">6. Points</p>
			<div class="ml-1">
			<p>Each game won gives 10 points to the guild (if the player is enrolled in a guild), and 10 war points if the guilds of a player have decided to include the game type in the war effort.</p>
			</div>
		</div>
	</div>
</script>
