<script type="text/html" id="help">
	<div class="p-12 flex justify-center items-center">
		<div class="p-4 bg-teal-700 text-white rounded-md">
			<div class="font-bold underline text-xl">Games Rule Set</div>
			<p class="underline font-medium text-l">How to play? </p>
			<div class="ml-1">
			<p>When you find a match, you must be loaded in the game. Each players need to click on « ready » to start playing. </p>
			<p>When everyone is ready, the first player logged in click on the pong to make the ball move. </p>
			<p>You can move your player with the mouse.</p>
			<p>If you quit the game a first time, you have 30 seconds to come back to game otherwise you’ll be forfeit. The second time 15 seconds. The third time 10 seconds. Then, you are forfeit.</p>
			<p>If we don’t match a game for you after 5 minutes of waiting, the game will be canceled.</p>
		</div>
			<p class="underline font-medium text-l">1. Friendly game </p>
			<div class="ml-1">
				<p>There is a matchmaking system : you play only for fun with a random player. You can also dual someone directly via the chat</p>
				<p>You have the ability to choose the level of your game: easy - normal - hard
				the number of points of each game: between 3 and 9. </p>
			</div>
			<p class="underline font-medium text-l">2. Training </p>
			<div class="ml-1">
				<p>You play against an IA. You can’t win but you can improve yourself! You can play easy, normal or hard.</p>
			</div>
			<p class="underline font-medium text-l">3. Ladder Game </p>
			<div class="ml-1">
				<p> You can play against an opponent that is ranked higher than you. </p>
				<p>If you win, you will take the rank of your opponent.</p>
				If you fail to accept a ladder challenge within 2 days, you will automatically lose.
				<p>You cannot start or accept any other type of match if you have a pending ladder challenge.</p>
				<p>Ladder games are of normal difficulty and are played in 9 points.</p>
			</div>
			<p class="underline font-medium text-l">4. Tournaments </p>
			<div class="ml-1">
				<p>Tournaments are organized with 8 participants competing in three rounds of knockout matches : opening matches, semi-final matches, and a final match.</p>
				<p>Tournaments last three days, one day per round.</p>
				<p>Each week a Tournament will be organized on <a class="font-bold hover:underline" href="/tournaments">tournaments page</a>, and Administrators can also organize specific tournaments.</p>
				<p>Each day there is one round so you have one day to play tournament game. If the game isn't played, the winner is random except if one of them is ready to play. For the finale, no one win if the game isn't played. <p>
				<p>Each game won give 10 points to the guild (if the player is enrolled in a guild), 10 points to the war points (if a war is raging).</p>
			</div>
			<p class="underline font-medium text-l">War Time</p>
			<div class="ml-1">
				<p>During a war time a member can ask to fight randomly any one from the other guild, if no one of the other guild answer the call after a certain amount of time, the match is automatically won.</p>
				<p>There can be only one "War time" match at the same time, to avoid big guilds to flood small ones.</p>
			</div>
			<p class="underline font-medium text-l">Forfeits & Deadlines</p>
			<div class="ml-1">
				<p>If you don't play friendly games there's no impact.</p>
				<p>If you don't play wat time games or ladder games, it will be automatically lost. </p>
				<p>To cappet the game, you have two days for ladder games and the time negociated between the guilds for the war time games.</p>
			</div>
		</div>
	</div>
</script>
