<script type="text/html" id="help">
	<div class="page-height p-12 flex justify-center items-center">
		<div class="p-4 bg-teal-700 text-white rounded-md">
			<div class="font-bold underline text-2xl">Games Rule Set</div>
			<p class="underline font-medium text-xl">How to play? </p>
			<div class="ml-2">
			<p>When you find a match, you must be loaded in the game. Each players need to click on « ready » to start playing. </p>
			<p>When everyone is ready, the first player logged in click on the pong to make the ball move. </p>
			<p>You can move your player with the mouse.</p>
			<p>If you quit the game a first time, you have 30 seconds to come back to game otherwise you’ll be forfeit. The second time 15 seconds. The third time 10 seconds. Then, you are forfeit.</p>
			<p>If we don’t match a game for you after 5 minutes of waiting, the game will be canceled.</p>
		</div>
			<p class="underline font-medium text-xl">1. Friendly game </p>
			<div class="ml-2">
				<p>You play only for fun with a random player. </p>
				<p>You have the ability to choose the level of your game: easy - normal - hard
				the number of points of each game: between 3 and 9. </p>
			</div>
			<p class="underline font-medium text-xl">2. Training </p>
			<div class="ml-2">
				<p>You play against an IA. You can’t win but you can improve yourself! You can play easy, normal or hard.</p>
			</div>
			<p class="underline font-medium text-xl">3. Ladder Game </p>
			<div class="ml-2">
				<p> You can play against an opponent that is ranked higher than you. </p>
				<p>If you win, you will take the rank of your opponent.</p>
				If you fail to accept a ladder challenge within 2 days, you will automatically lose.
				<p>You cannot start or accept any other type of match if you have a pending ladder challenge.</p>
				<p>Ladder games are of normal difficulty and are played in 9 points.</p>
			</div>
			<p class="underline font-medium text-xl">4. Tournaments </p>
			<div class="ml-2">
				<p>Tournaments are organized with 8 participants competing in three rounds of knockout matches : opening matches, semi-final matches, and a final match.</p>
				<p>Tournaments last three days, one day per round.</p>
				<p>Each week a Tournament will be organized on <a class="font-bold hover:underline" href="/tournaments">tournaments page</a>, and Administrators can also organize specific tournaments.</p>
			</div>
		</div>
	</div>
</script>
