<script type="text/html" id="modalTemplate">
  <div
    class="modal-backdrop absolute top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-25 z-50"
  >
    <div
      class="modal-container bg-white text-gray-900 relative p-8 rounded-lg"
    >
      <svg
        id="close-modal"
        class="w-6 h-6 absolute right-0 top-0 mr-2 mt-2 cursor-pointer"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <div id="modal-content-{{id}}"></div>
    </div>
  </div>
</script>
