  <div class="relative h-16 w-16">
	<img
		id="btn-profile"
		class="w-16 h-16 rounded-full p-2"
		{{#avatar_url}}
			src="{{ avatar_url }}"
		{{/avatar_url}}
		{{^avatar_url}}
			src="https://img.pngio.com/circle-outline-png-transparent-circle-outline-png-image-free-white-circle-outline-transparent-300_300.png"
		{{/avatar_url}}
	/>

	<div class="presence-bg">
		<div class="presence--{{#is_present}}online{{/is_present}}{{^is_present}}offline{{/is_present}}"> </div>
	</div>

  </div>
