<script type="text/html" id="message-template">
  <div
    id="message-{{id}}"
    class="flex w-full items-center {{#sent}}flex-row-reverse{{/sent}}"
  >
  <div class="text-gray-600 text-sm">
    <div>
    {{day}}
    </div>
    <div>
    {{time}}
    </div>
  </div>
    <img  class="user-avatar w-12 h-12 rounded-full m-2 cursor-pointer" src="{{ avatar_url }}" />
    <div
      class=" max-w-lg break-words bg-gray-300 mx-4 my-2 p-2 rounded-lg {{#sent}} bg-teal-300{{/sent}}"
    >
    <div class="text-xs font-semibold text-gray-800 underline tracking-tight">{{pseudo}}</div>
      {{content}}
	</div>
	{{#req}}
		{{^sent}}
			{{#pending}}
			<button id="accept" class="btn-nego mt-4 rounded-lg shadow-lg py-1 px-2" type="button">Accept</button>
			{{/pending}}	
			{{^pending}}
			<button class="btn-nego-disabled floated mt-4 rounded-lg shadow-lg py-1 px-2" type="button">Expired</button>
			{{/pending}}
		{{/sent}}
		{{#sent}}
			{{#pending}}
			<button class="btn-nego-disabled mt-4 rounded-lg shadow-lg py-1 px-2" type="button">Waiting</button>
			{{/pending}}	
			{{^pending}}
			<button class="btn-nego-disabled rounded-lg shadow-lg py-1 px-2" type="button">Expired</button>
			{{/pending}}
		{{/sent}}
	{{/req}}
  </div>
</script>
