<script type="text/html" id="tfaTemplate">
  <div class="flex h-screen">
    <div
      class="bg-teal-900 m-auto px-32 py-24 max-w-3xl rounded-3xl flex flex-col items-center  hover:shadow-2xl transition-shadow ease-in-out duration-300 justify-center"
    >
      <div class="flex flex-row items-center  mb-12">
        <svg
          width="98"
          height="98"
          viewBox="0 0 98 98"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="49" cy="49" r="49" fill="#494949" />
          <circle cx="49" cy="49" r="9.1875" fill="white" />
          <line
            x1="5.41789"
            y1="57.4804"
            x2="57.4804"
            y2="5.4179"
            stroke="white"
            stroke-width="2"
          />
          <line
            x1="39.1054"
            y1="89.6366"
            x2="91.1679"
            y2="37.5742"
            stroke="white"
            stroke-width="2"
          />
        </svg>

        <h1 class="text-4xl text-white ml-8 font-bold">Transcendance</h1>
      </div>
	  <form action="" method="get">
		<label style="text-align:center" class="block" for="input-guest">
			<h2 class="text-2xl  text-white font-bold mb-8">
			Two factor authentication :</h1>
			<h1 class="text-white  font-semibold center">
				A code has been sent to your mail address
			</h1>
			<input
				class="form-input mt-4"
				type="text"
				name="input-tfa"
				id="input-tfa"
			/>
		</label>
	  </form>
    </div>
  </div>
</script>
