<script type="text/html" id="manage-room-template">
 <div id="room-users-list" class="overflow-y-auto max-h-64">
    </div>
    {{#isOwner}}{{#is_private}}
  <form class="mt-8" action="">
    <label class="block" for="room-password">
      <span class="text-gray-700 underline font-semibold mb-1">Change room's password</span>
      <input
        type="password"
        class="form-input mt-1 block w-full"
        type="text"
        name="room-password"
        id="input-room-password"
      />
    </label>

    <div class="flex flex-col justify-center items-center">
      <button class="btn-primary mt-8 mb-4" id="room-submit" type="submit">
        Change password
      </button>
	{{/is_private}}
		<div class="flex flex-col justify-center items-center">
		   <button class="btn-danger" id="room-delete" type="button">
			  Delete room
			</button>
		</div>
    </div>
  </form>
   {{/isOwner}}
</script>
