<script type="text/html" id="gameStartTemplate">
<div class="p-6">
	<h1 class="text-center text-white text-lg underline"> Select the type of game you want to play :</h1>
	<div class="flex flex-row space-x-4 items-center justify-center pt-5">
		<div><a href="/training" class="btn-primary block">Training</a></div>
		<div><button id="friendly-btn" class="btn-primary" type="button">Friendly game</button></div>
		<div><button id="ladder-btn" class="btn-primary" type="button">Ladder game</button></div>
		<div><button id="tournament-btn" class="btn-primary" type="button">Tournament game</button></div>
	</div>
	<h1 id="chat-game" style="display:none; font-size:11px" class="mt-2 text-center text-white text-lg"> You have asked someone to play via the chat. Please finish this game before starting a new one. Games expire within 5 minutes after being requested.</h1>
</div>
</script>
