<script type="text/html" id="gameStartTemplate">
	<h1 class="justify-center flex flex-row  text-white mt-5"> Select the type of game you want to play :</h1>
	<div style="text-align: center">
		<div><button id="friendly-btn" class="btn-primary mt-3 justify-center" type="button">Friendly game</button></div>
		<div><button id="ladder-btn" class="btn-primary mt-3 justify-center" type="button">Ladder game</button></div>
		<div><button id="tournament-btn" class="btn-primary mt-3 mb-5 justify-center" type="button">Tournament game</button></divW
	</div>
</script>