<script type="text/html" id="games-to-spectate-template">
	<h2 class="text-2xl font-semibold underline mb-4">Games currently being played :</h2>
	<ul class="space-y-4">
		{{#games}}
			<li>
				<a href="{{link}}" class="flex flex-row items-center justify-evenly w-full bg-teal-600 p-4 text-white rounded-md font-medium shadow-md hover:shadow-xl transition duration-300 ease-in-out cursor-pointer">
					{{#firstPlayer}}
						<div class="flex flex-row items-center justify-center">
							<img class="w-10 h-10 rounded-full mr-2" src="{{avatar_url}}"/>
							{{name}}
						</div>
					{{/firstPlayer}}
					<span class="text-xl"> VS </span>
					{{#secondPlayer}}
						<div class="flex flex-row items-center justify-center">
							<img class="w-10 h-10 rounded-full mr-2" src="{{avatar_url}}"/>
							{{name}}
						</div>
					{{/secondPlayer}}
					<div class="flex flex-row">
						<span>{{spectatorsNbr}}</span>
						<svg class="w-6 h-6 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>
					</div>
				</a>
			</li>
		{{/games}}
	</ul>
</script>
