<script type="text/html" id="game-matched-template">
	<div class="page-height items-center flex justify-center">
		<div class="flex flex-row">
			<button id="btn-ready" class="btn-primary" type="button">Ready</button>
		</div>
	</div>
</script>
