<script type="text/html" id="game-spectators-template">
	<h1 class="text-center text-2xl font-semibold text-gray-800 underline">{{spectatorsNumber}} spectator</h1>
	{{#spectators}}
		<div>{{login}}</div>
	{{/spectators}}
</script>
