<script type="text/html" id="waitingOpponentTemplate">
	<h1 class="loading justify-center flex flex-row  text-white mt-5 mb-5 justify-center"> Waiting for opponent</h1>
	<h1 style="text-align:center; font-size:11px" class="justify-center flex flex-row  text-white mb-5 justify-center"> If we do not find your opponent within 5 minutes, your game will be cancelled and you will be able to try again.</h1>
</script>