<script type="text/html" id="waitingOpponentTemplate">
	<div class="text-center text-white p-5 space-y-5">
		<h1 class="loading"> Waiting for opponent</h1>
		{{#isClassic}}
			<div>
				<h1> If we do not find an opponent within 5 minutes, your game will be automatically cancelled.</h1>
				<button id="cancel-friendly" class="btn-primary mt-5">Cancel</button>
			</div>
		{{/isClassic}}
		{{#isWar}}
			<h1> War Time Challenge - If no one accepts your challenge within {{time}} minutes, your will win the game automatically.</h1>
		{{/isWar}}
		{{#isLadder}}
			<h1> You are waiting for a Ladder Game to start.</h1>
		{{/isLadder}}
	<div>
</script>
