<script type="text/html" id="trophyTemplate">
<div class="tooltip">
	<span class="tooltiptext-white">Winner of {{name}} tournament</span>
	<a href="/tournaments/{{id}}">
	<img class="rounded-full p-2 w-10 h-10" src={{trophy_url}}/>
	</a>
</div>
</script>