@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

$navbarHeight: 5rem;

$chatContainerHeight: calc(100vh - #{$navbarHeight});
$chatHeaderHeight: 4rem;
$chatInputHeight: 4rem;

.chat-container {
  @apply bg-gray-200 flex flex-row w-full absolute top-0 mt-20 left-0;
  height: $chatContainerHeight;
}

.chat-messages-container {
  overflow-y: scroll;
  width: "100%";

  height: calc(
    #{$chatContainerHeight} - (#{$chatHeaderHeight} + #{$chatInputHeight})
  );

  @apply p-2;
}

.btn-primary {
  @apply text-center py-2 px-4 bg-teal-500 text-white rounded-lg shadow-lg;

  &--lg {
    @extend .btn-primary;

    @apply py-4 px-12 text-lg;
  }

  &--disabled {
    @extend .btn-primary;

    @apply bg-teal-600 cursor-default;
  }
}

.btn-primary:hover {
  @apply bg-teal-600 transition-colors duration-300 ease-in-out;
}

.btn-danger {
  @extend .btn-primary;

  @apply bg-red-500;
}

.btn-danger:hover {
  @extend .btn-primary:hover;

  @apply bg-red-600;
}

.svg-btn {
  @apply w-6 h-6 cursor-pointer;
}

.message {
  @apply rounded-lg break-words max-w-full px-4 py-2;
  &--sent {
    @extend .message;

    @apply bg-teal-500 rounded-br-sm;
  }

  &--received {
    @extend .message;

    @apply bg-gray-500 rounded-bl-sm;
  }
}

.link-primary {
  @apply underline text-teal-500 text-base cursor-pointer;
}

.floated {
  float: left;
  margin-right: 5px;
}

.notif-container {
  top: $navbarHeight;

  @apply bg-white absolute right-0 flex flex-col items-stretch rounded-lg shadow-lg z-10;
}

.notifpage {
  font-size: 15px;
  color: #ffffff;
}

.notifications-count {
  top: -10px;
  left: 15px;
  position: absolute;

  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;

  @apply bg-red-500;
}

.max-h-64 {
  max-height: 16rem;
}
