@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.btn-primary {
  @apply text-center py-2 px-4 bg-teal-500 text-white rounded-lg shadow-lg;

  &--lg {
    @extend .btn-primary;

    @apply py-4 px-12 text-lg;
  }
}

.btn-primary:hover {
  @apply bg-teal-600 transition-colors duration-300 ease-in-out;
}

.svg-btn {
  @apply w-6 h-6 cursor-pointer;
}

.message {
  @apply rounded-lg break-words max-w-full px-4 py-2;
  &--sent {
    @extend .message;

    @apply bg-teal-500 rounded-br-sm;
  }

  &--received {
    @extend .message;

    @apply bg-gray-500 rounded-bl-sm;
  }
}

.link-primary {
  @apply underline text-teal-500 text-base cursor-pointer;
}

.btn-war {
	@apply rounded-full p-2; width: 160px; height:70px; color:white; background-color:#8A2C18; text-align: center; font-size: 25px; box-sizing: border-box; box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

body {
	counter-reset: rank;                   
  }
  
.counter::before {
	counter-increment: rank;               
	content: " " counter(rank) ". ";
}