@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.btn-war {
	@apply rounded-full p-2; width: 160px; height:70px; color:white; background-color:#8A2C18; text-align: center; font-size: 25px; box-sizing: border-box; box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

body {
	counter-reset: rank;                   
  }
  
.counter::before {
	counter-increment: rank;               
	content: " " counter(rank) ". ";
}

.btn-disabled{
    cursor: not-allowed;
	pointer-events: none;
	color: #c0c0c0;
    background-color: #ffffff;
}
