@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
	counter-reset: rank;                   
  }
  
.counter::before {
	counter-increment: rank;               
	content: " " counter(rank) ". ";
}

.btn-disabled{
    cursor: not-allowed;
	pointer-events: none;
	color: #c0c0c0;
    background-color: #ffffff;
}

.btn-join-disabled{
	cursor: not-allowed;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	font-size: 15px;
	pointer-events: none;
	color: #ffffff;
	background-color: #808080;
}