<script type="text/html" id="chatAddTabTemplate">
  <button
    id="chat-add-tab"
    class="h-10 w-16 rounded-tr-3xl flex justify-center items-center {{#isOdd}}bg-teal-700{{/isOdd}}{{^isOdd}}bg-teal-500{{/isOdd}}"
  >
    <svg
      class="w-6"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M13.4652 4.5C13.9093 4.5 14.2693 4.83579 14.2693 5.25V11H20.4347C20.8788 11 21.2389 11.3358 21.2389 11.75C21.2389 12.1642 20.8788 12.5 20.4347 12.5H14.2693V18.25C14.2693 18.6642 13.9093 19 13.4652 19C13.021 19 12.661 18.6642 12.661 18.25V12.5H6.49582C6.05169 12.5 5.69165 12.1642 5.69165 11.75C5.69165 11.3358 6.05169 11 6.49582 11H12.661V5.25C12.661 4.83579 13.021 4.5 13.4652 4.5Z"
        fill="white"
      />
    </svg>
  </button>
</script>
