<script type="text/html" id="chat-container-template">
     <div class="bg-gray-200 flex flex-row h-full w-full absolute top-0 mt-20 left-0">
        <div id="left-container-chat" class="p-4">
         <div class="mt-6">
     <span>My channels list</span>
     <ul id="room-list"></ul>
      </div>
    </div>

    <div id="right-container-chat" class="relative w-full h-full" >
   <div id="messages-container" class="h-full w-full overflow-y-scroll">
    </div>

   </div>

    </div>
     </div>
</script>
