<script type="text/html" id="chat-container-template">
     <div class="chat-container">
        <div id="left-container-chat" class="p-4">
          <div class="mt-6">
               <span>My channels list</span>
               <ul id="my-rooms-list"></ul>
          </div>
     </div>

    <div id="right-container-chat" class="relative w-full" >
   <div id="messages-container" class="chat-messages-container">
    </div>

   </div>

    </div>
     </div>
</script>
