<script type="text/html" id="createChannelTemplate">
  <div class="flex h-full flex-col items-center justify-evenly">
    <h3 class="text-xl text-gray-900 font-semibold">Create a channel</h3>

    <div class="bg-teal-900 text-white flex flex-col justify-evenly items-center p-4 space-y-4 rounded-xl">
      <div>Public</div>

      <label>
        <span class="text-lg">Channel name</span>
        <input
          placeholder="The best channel"
          class="form-input block mt-1 text-gray-800"
          type="text"
          name="input-channel-name"
          id="input-channel-name"
        />
      </label>
      <label>
        <span class="text-lg">Channel password</span>
        <input
          placeholder="123"
          class="form-input block mt-1 text-gray-800"
          type="text"
          name="input-channel-password"
          id="input-channel-password"
        />
      </label>
      <div class="text-center">
        <button id="create-channel" class="btn-primary mb-6">Create</button>
      </div>
    </div>
    <span class="block link-primary font-semibold">I want to join a channel</span>
  </div>
</script>
