<script type="text/html" id="message-template">
  <div id="message-{{id}}" class="clearfix">
    <div
      class="bg-gray-300 w-3/4 mx-4 my-2 p-2 rounded-lg {{#sent}} bg-teal-300 float-right {{/sent}}"
    >
      {{content}}
    </div>
  </div>
</script>
