<script type="text/html" id="messageTemplate">
{{#sent}}
  <div class="ml-auto">
	   <%= render "templates/profileIcon" %>
      <div class="message--sent">
	  {{content}}
	  </div>
    </div>
{{/sent}}

{{^sent}}
  <div class="mr-auto">
	  <%= render "templates/profileIcon" %>
      <div class="message--received">
	  {{content}}
	  </div>
    </div>
{{/sent}}
</script>
