<script type="text/html" id="message-notification-template">
 <div id="message-notification-{{id}}">
    <div
      class="text-gray-600 ml-4 my-2 text-center"
    >
     {{date}} {{content}}
    </div>
  </div>
</script>
