<script type="text/html" id="roomTemplate">
  <div id="room-{{id}}" class="room-name border-teal-400 border-2 p-2 my-2 text-center cursor-pointer rounded-lg {{#selected}}bg-teal-400 text-white underline{{/selected}}">
    {{name}}
  </div>
</script>
