<script type="text/html" id="rooms-list-template">
	<div class="mt-6">
    	<span class="ml-2 underline text-lg text-gray-800 font-semibold" id={{title_id}}>{{label}}</span>
        <ul class="overflow-y-auto max-h-64" id={{id}}></ul>
    </div>
</script>
