<script type="text/html" id="room-user-profile-template">

	<div class="p-4">
	<div class="mb-8 flex flex-row items-center justify-center">
		<img
		class="w-16 h-16 rounded-full"
		src="{{ avatar_url }}"
		/>
		<div class="ml-4">
		<span class="text-xl text-gray-900 font-semibold">{{login}}</span>
		<div class="text-gray-600 text-xs font-semibold">
			{{roomRole}}
		</div>
		</div>
		</div>
	<div class="space-y-4 flex flex-col justify-center items-center">
		<a class="link-primary block" href="/user/{{id}}">Go to profile</a>
		{{^isCurrentUser}}
		<a id="invite-to-play-user" class="link-primary block">Invite to play</a>
		{{#isBlocked}}
			<a id="unblock-user" class="link-primary block">Unblock</a>
		{{/isBlocked}}
		{{^isBlocked}}
			<a id="block-user" class="link-primary block">Block</a>
		{{/isBlocked}}
		{{#isAdmin}}
		{{#isMute}}
				<span id="unmute-user" class="link-primary block">Unmute</span>
		{{/isMute}}

		{{^isMute}}
			{{^isBan}}
				<label class="block">
					<span class="text-gray-800 font-semibold underline">Mute</span>
					<select class="form-select block w-full mt-1" id="mute-list">
						<option selected disabled>Select time</option>
						<option value="10mn">10 minutes</option>
						<option value="30mn">30 minutes</option>
						<option value="1h">1 hour</option>
						<option value="24h">24 hours</option>
						<option value="indefinitely">Indefinitely</option>
					</select>
				</label>
			{{/isBan}}
		{{/isMute}}

		{{#isBan}}
				<span id="unban-user" class="link-primary block">Unban</span>
		{{/isBan}}

		{{^isBan}}
				<label class="block">
					<span class="text-gray-800 font-semibold underline">Ban</span>
					<select class="form-select block w-full mt-1" id="ban-list">
						<option selected disabled>Select time</option>
						<option value="10mn">10 minutes</option>
						<option value="30mn">30 minutes</option>
						<option value="1h">1 hour</option>
						<option value="24h">24 hours</option>
						<option value="indefinitely">Indefinitely</option>
					</select>
				</label>
		{{/isBan}}

		{{/isAdmin}}
		{{/isCurrentUser}}
	</div>

	</div>
</script>
