<script type="text/html" id="chatTabsTemplate">
	 <div
      class="w-full bg-teal-700 flex flex-row items-end h-16 overflow-x-auto overflow-y-hidden"
      id="chat-tabs-container"
    >

    </div>
</script>
