<script type="text/html" id="chatTabTemplate">
  <div
    id="{{id}}"
    class="chat-tab h-10 flex flex-row justify-center items-center relative rounded-tr-3xl {{#odd}}bg-teal-500{{/odd}} {{^odd}}bg-teal-800{{/odd}}"
  >

   <span class="p-4 text-white">{{name}}</span>
    <svg
      id="close"
      class="w-4 ml-auto mr-2 mb-2 cursor-pointer"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.95502 5.71967C7.26906 5.42678 7.77823 5.42678 8.09228 5.71967L13.6889 10.9393L19.2856 5.71967C19.5996 5.42678 20.1088 5.42678 20.4228 5.71967C20.7369 6.01256 20.7369 6.48744 20.4228 6.78033L14.8262 12L20.4228 17.2197C20.7369 17.5126 20.7369 17.9874 20.4228 18.2803C20.1088 18.5732 19.5996 18.5732 19.2856 18.2803L13.6889 13.0607L8.09228 18.2803C7.77823 18.5732 7.26906 18.5732 6.95502 18.2803C6.64097 17.9874 6.64097 17.5126 6.95502 17.2197L12.5517 12L6.95502 6.78033C6.64097 6.48744 6.64097 6.01256 6.95502 5.71967Z"
        fill="white"
      />
    </svg>
  </div>
</script>
