<script type="text/html" id="manage-room-template">
 <div id="room-users-list" class="overflow-y-auto h-64">
    </div>
  <form action="">
    <label class="block" for="room-password">
      <span class="text-gray-700">Change room's password</span>
      <input
        class="form-input mt-1 block w-full"
        type="text"
        name="room-password"
        id="input-room-password"
      />
    </label>

    <div class="flex justify-center items-center">
      <button class="btn-primary mt-8" id="room-submit" type="submit">
        Save modifications
      </button>
    </div>
  </form>
</script>
