<script type="text/html" id="room-user-template">
	<div class="flex flex-row items-center p-4">
	<img
		id="user-profile"
		class="w-16 h-16 rounded-full p-2"
		src="{{ avatar_url }}"
	/>
		<div>
		{{login}}
		<div class="text-gray-600 text-xs font-semibold">
		{{roomRole}}
		</div>
		</div>
		{{^isCurrentUser}}
		<div class="flex flex-col ml-4">
			<button id="promote" class="btn-primary my-2">
				Promote
			</button>
				<button id="demote" class="btn-primary my-2">
				Demote
			</button>
		</div>
			{{/isCurrentUser}}
	</div>
</script>
