<script type="text/html" id="gameIndexTemplate">
	<div class="relative flex flex-grow flex-col justify-center items-center">
		<div style="background-color:#115E59; float:center; margin:50px; justify-content: center;"
		class=" bg-teal-900 w-1/2 rounded-3xl flex flex-col hover:shadow-2xl transition-shadow ease-in-out duration-300"
		>
			<div id="game-index-container"></div>
		</div>
			<div id="game-to-spectate"></div>
	</div>
</script>
