<script type="text/html" id="tempTournamentTemplate">
<div class="flex" style="justify-content: center;"></div>
    <div style="background-color:#115E59; float:left; margin-top:40px; margin-left:50px; margin-right: 50px"
      class=" bg-teal-900 w-1/2 rounded-3xl flex flex-col flex-grow max-w-2xl hover:shadow-2xl transition-shadow ease-in-out duration-300"
    >
		<div style="background-color:#134E4A; height:50px; text-align: center;" class=" text-white px-100 py-5">Tournaments</div>
		<div class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;"> Tournaments are organized with 8 participants competing in three rounds of knockout matches : opening matches, semi-final matches, and a final match. </div>
		<div class="justify-center text-white flex flex-row" style="font-size:11px; text-align: center;"> Tournaments last 15 minutes, 5 minutes per round. </div>
		<div class="justify-center text-white flex flex-row mt-2" style="font-size:11px; text-align: center;"> Each week a Tournament will be organized on this page, and Administrators can also organize specific tournaments. </div>
		<div class="justify-center text-white flex flex-row mt-3" style="text-align: center; text-decoration:underline"> Open Registrations </div>
		<div class="py-2" id="list-open"></div>
		<div id="none-open" class="justify-center flex flex-row  text-white" style="font-size:11px; display:none">There are no tournaments open for registration.</div>
		<div class="justify-center text-white flex flex-row mt-3" style="text-align: center; text-decoration:underline"> Upcoming Tournament </div>
		<div class="py-2" id="list-upcoming"></div>
		<div id="none-upcoming" class="justify-center flex flex-row  text-white mb-3" style="font-size:11px; display:none">There are no upcoming tournaments.</div>
		<div class="justify-center text-white flex flex-row mt-3" style="text-align: center; text-decoration:underline"> Raging Tournaments </div>
		<div class="py-2" id="list-raging"></div>
		<div id="none-raging" class="justify-center flex flex-row  text-white mb-3" style="font-size:11px; display:none">There are no tournaments being played.</div>
	</div>
	<div style="background-color:#115E59; margin-top:40px;"
		class=" bg-teal-900 w-1/3 rounded-3xl flex flex-col flex-grow max-w-2xl max-h-2xl hover:shadow-2xl transition-shadow ease-in-out duration-300"
	>
		<div style="background-color:#134E4A; height:50px; text-align: center;" class=" text-white px-100 py-5">My Tournament Board</div>
		<div class="justify-center text-white flex flex-row mt-1" style="text-align: center; text-decoration:underline"> My Current Participations </div>
		<div class="py-2 mt-3" id="my-participations"></div>
		<div id="no-part" class="justify-center flex flex-row  text-white mt-3 mb-3" style="font-size:11px; display:none">You are not registered to any tournaments.</div>
		{{#admin}}
			<div class="flex border border-gray my-2" style="margin-left:50px; margin-right:50px"></div>
			<div class="justify-center text-white flex flex-row mt-1" style="text-align: center; text-decoration:underline"> Admin Section </div>
			<div style="text-align: center">
				<button id="create-tour-btn" class="btn-primary mt-3 mb-3" type="button">Create new tournament</button>
			</div>
		{{/admin}}
	</div>

</script>
