<script type="text/html" id="gameFormTemplate">
            <form action="">
                <label class="block" for="game-level">
                    <span class="text-gray-700">Choose difficulty</span>
					<select name="level" id="level">
						<option value="easy">Easy</option>
						<option value="normal">Normal</option>
						<option value="hard">Hard</option>
					</select>
				</label>
				</label>
                <label class="block mt-8" for="game-goal">
                    <span class="text-gray-700">Choose winning number of points: </span>
                    <select name="goal" id="goal">
						<option value=3>3</option>
						<option value=6>6</option>
						<option value=9>9</option>
					</select>
                </label>
                <div class="flex justify-center items-center">
                    <button
                        class="btn-primary mt-8"
                        id="input-game-submit"
                        type="submit"
                    >
                        Find opponent!
                    </button>
                </div>
            </form>
</script>
