<script type="text/html" id="guildFormTemplate">
            <form action="">
                <label class="block" for="profile-name">
                    <span class="text-gray-700">Pseudo</span>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="guild-name"
                        value="{{name}}"
                        id="input-guild-name"
                    />
                </label>
				<label class="block" for="profile-name">
                    <span class="text-gray-700">Pseudo</span>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="guild-name"
                        value="{{ang}}"
                        id="input-guild-ang"
                    />
                </label>
                <div class="flex justify-center items-center">
                    <button
                        class="btn-primary mt-8"
                        id="input-guild-submit"
                        type="submit"
                    >
                        Enregistrer
                    </button>
                </div>
            </form>
</script>
