<script type="text/html" id="guildEditFormTemplate">
            <form action="">
                <label class="block" for="guild-name">
                    <span class="text-gray-700">Name*</span>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="guild-name"
                        value="{{name}}"
                        id="input-guild-name"
                    />
				</label>
				<label class="block" for="guild-acronym">
				<span class="text-gray-700">Acronym*</span>
				<input
					class="form-input mt-1 block w-full"
					type="text"
					name="guild-acronym"
					value="{{ang}}"
					id="input-guild-ang"
				/>
				</label>
				</label>
                <label class="block mt-8" for="input-guild-img">
                    <span class="text-gray-700">Upload a picture </span>
                    <input
                        class="form-input mt-1 block w-full"
                        type="file"
                        name="guild-img"
                        id="input-guild-img"
                    />
                </label>
                <div class="flex justify-center items-center">
                    <button
                        class="btn-primary mt-8"
                        id="input-guild-submit"
                        type="submit"
                    >
                        Update Guild
                    </button>
                </div>
            </form>
</script>
