<script type="text/html" id="ladderGameTemplate">
	<h1 style="margin-top:10px" class="justify-center flex flex-row"> Your Ladder rank is {{ladder_rank}}. </h1>
	<h1 style="margin-top:10px" class="justify-center flex flex-row"> You can play against an opponent that is ranked higher than you. </h1>
	<h1 style="margin-top:10px" class="justify-center flex flex-row"> If you win, you will take the rank of your opponent.. </h1>
	<h1 style="margin-top:10px" class="justify-center flex flex-row"> You can challenge the following players : </h1>
	<div id="listing"></div>

	<h1 style="margin-top:10px; font-size:11px" class="justify-center flex flex-row"> Ladder games are of normal difficulty and are played in 9 points. : </h1>
</script>
