<script type="text/html" id="warTimesFormTemplate">
	<input
	class="form-input mt-1"
	type="datetime"
	name="wt-start-date"
	placeholder="Start"
	id="wt-start-date"
	/>
	<input
	class="form-input mt-1"
	type="datetime"
	name="wt-end-date"
	placeholder="End"
	id="wt-end-date"
	/>
	<button class="underline" style="font-size:10px" id="add-war-time">Add war time</button>
	<button class="underline remove-war-time" style="font-size:10px; display:none">Remove</button>
</script>
