<script type="text/html" id="warFormTemplate">
            <form action="">
                <label style="text-align: center;" class="block" for="war-start">
                    <p class="text-gray-700">When do you want the war to start?*</p>
                    <input
                        class="form-input mt-1 block w-full"
                        type="datetime"
						name="start-date"
						placeholder="Click to select date"
                        id="input-start-date"
					/>
				</label>
				<label style="text-align: center;" class="block" for="war-end">
                    <p class="text-gray-700">When do you want it to end?*</p>
                    <input
                        class="form-input mt-1 block w-full"
						type="text"
						placeholder="Click to select date"
                        name="end-date"
                        id="input-end-date"
					/>
				</label>
				<label style="text-align: center;" class="block" for="points">
					<p class="text-gray-700">How many points will be awarded to the winner (min. 2)?* </p>
					<p style="font-size:10px" class="text-gray-700">In case of a tie, prize will be split into two and any uneven point will be lost. </p>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="war-prize"
                        id="input-prize"
                    />
				</label>
				<label style="text-align: center;" class="block" for="answer-time">
					<p class="text-gray-700">Time to answer a War Time challenge (in minutes)?*</p>
					<p style="font-size:10px" class="text-gray-700">The game will be automatically won after that time</p>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="answer-time"
                        id="answer-time"
					/>
				</label>
				<label style="text-align: center;" class="block" for="max-calls">
					<p class="text-gray-700">Maximum unanswered calls tolerable during War Time? (optional)</p>
					<p style="font-size:10px" class="text-gray-700">If reached, War Time will be over.</p>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="max-calls"
                        id="max-calls"
                    />
				</label>
				<label style="text-align: center;" class="block" for="war-times">
				<p class="text-gray-700">War Times </p>
				<p style="font-size:10px" class="text-gray-700">There must be at least one war time scheduled</p>
				<div id="wt-schedule"></div>
				</label>
				<div style="text-align: center; font-size:11px" class="block mt-4" for="includes">
					<h1 class="text-gray-700">Include ladder games in the war effort :
                    <input
                        type="checkbox"
                        name="inc-ladder"
                        id="inc-ladder"
					/></h1>
					<h1 class="text-gray-700 ">Include tournament games in the war effort :
                    <input
                        type="checkbox"
                        name="inc-tour"
                        id="inc-tour"
					/></h1>
					<h1 class="text-gray-700">Include friendly games in the war effort :
					<input
						type="checkbox"
						name="inc-friendly"
						id="inc-friendly"
					/></h1>
					<div id="custom" style="display:none">
						<h1 class="text-gray-700 m-2">Select all that apply :</h1>
						<h1>
							<span class="text-gray-700">Easy :</span>
							<input
								type="checkbox"
								name="inc-easy"
								id="inc-easy"
							/>
							<span class="text-gray-700">Normal :</span>
							<input
								type="checkbox"
								name="inc-normal"
								id="inc-normal"
							/>
							<span class="text-gray-700">Hard :</span>
							<input
								type="checkbox"
								name="inc-hard"
								id="inc-hard"
							/>
						</h1>
						<h1>
							<span class="text-gray-700">3 points:</span>
							<input
								type="checkbox"
								name="three-points"
								id="three-points"
							/>
							<span class="text-gray-700">6 points:</span>
							<input
								type="checkbox"
								name="six-points"
								id="six-points"
							/>
							<span class="text-gray-700">9 points:</span>
							<input
								type="checkbox"
								name="nine-points"
								id="nine-points"
							/>
						</h1>
					</div>
				</div>
                <div class="flex justify-center items-center">
                    <button
                        class="btn-primary mt-8"
                        id="input-war-submit"
                        type="submit"
                    >
                        Declare War
                    </button>
                </div>
            </form>
</script>
