<script type="text/html" id="warTimesNegoFormTemplate">
	<p>class="text-gray-700">Start date : {{start}}
	class="text-gray-700">End date : {{end}}
	<button class="underline" style="font-size:10px;" id="remove-war-time">Remove</button></p>
</script>