<script type="text/html" id="warTimesNegoFormTemplate">
	<pclass="text-gray-700">Start: {{start}}
	End: {{end}}
	<button class="underline" style="font-size:10px;" id="remove-war-time">Remove</button></p>
</script>