<script type="text/html" id="warTimesNegoFormTemplate">
	class="text-gray-700">Start date : {{wartime.start}}
	<input
	class="form-input mt-1"
	type="datetime"
	name="wt-start-date"
	placeholder="Change"
	id="wt-start-date"
	/>
	<p class="text-gray-700">End date : {{wartime.end}} </p>
	<input
	class="form-input mt-1"
	type="datetime"
	name="wt-end-date"
	placeholder="Change"
	id="wt-end-date"
	/>
	<button class="underline" style="font-size:10px;" id="remove-war-time">Remove</button>
</script>