<script type="text/html" id="negoTemplate">
			<h1 style="margin-top:2px;" class="justify-center flex flex-row"><b> Pending War With : </b></h1>
			<div>
				<img style="margin-left: auto; margin-right: auto; margin-top:10px" width="100" height="100" class="flex flex-row rounded-full p-2" src="{{img}}" />
			</div>
			<a style="margin-top:10px; text-decoration: underline;" href="{{url}}" class="justify-center flex flex-row mb-4"><b>{{name}}</b></a>
            <form action="">
                <label class="block mb-2" for="war-start">
                    <span class="text-gray-700">Start date : </span>
                    <input
                        class="form-input mt-1 block w-full"
                        type="datetime-local"
						name="start-date"
						value="{{war.start}}"
                        id="input-start-date"
					/>
				</label>
				<label class="block mb-2" for="war end">
                    <span class="text-gray-700">End date : </span>
                    <input
                        class="form-input mt-1 block w-full"
                        type="datetime-local"
						name="end-date"
						value="{{war.end}}"
                        id="input-end-date"
					/>
				</label>
				<label class="block mb-2" for="guild-start">
                    <span class="text-gray-700">Prize wagered :</span>
                    <input
                        class="form-input mt-1 block"
                        type="text"
						name="war-prize"
						value="{{war.prize}}"
                        id="input-prize"
                    />
				</label>
				<div id="ranked" style="display:none">
					<button style="margin-left:110px" class="floated mt-6 bg-teal-500 text-white rounded-lg shadow-lg py-1 px-2" id="accept" type="button">Accept</button>
					<button class="floated mt-6 bg-red-400 text-white rounded-lg shadow-lg py-1 px-2" id="reject" type="button">Reject</button>
					<div>
						<button class="mt-3 ml-10 bg-teal-500 text-white rounded-lg shadow-lg py-1 px-2" id="negotiate" type="button">Send back your proposed changes</button>
					</div>
				</div>
				<div id="member" class="mt-4 ml-3" style="display:none">
					<h1><b> ! You need to be an officer or higher to negotiate this war !</b></h1>
				</div>

            </form>
</script>
