<script type="text/html" id="warFormTemplate">
            <form action="">
                <label style="text-align: center;" class="block" for="war-start">
                    <p class="text-gray-700">When do you want the war to start?*</p>
                    <input
                        class="form-input mt-1 block w-full"
                        type="datetime"
						name="start-date"
						placeholder="Click to select date"
                        id="input-start-date"
					/>
				</label>
				<label style="text-align: center;" class="block" for="war-end">
                    <p class="text-gray-700">When do you want it to end?*</p>
                    <input
                        class="form-input mt-1 block w-full"
						type="text"
						placeholder="Click to select date"
                        name="end-date"
                        id="input-end-date"
					/>
				</label>
				<label style="text-align: center;" class="block" for="points">
					<p class="text-gray-700">How many points will be awarded to the winner (min. 2)?* </p>
					<p style="font-size:10px" class="text-gray-700">In case of a tie, prize will be split into two and any uneven point will be lost. </p>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="war-prize"
                        id="input-prize"
                    />
				</label>
				<label style="text-align: center;" class="block" for="answer-time">
					<p class="text-gray-700">Time to answer a War Time challenge (in minutes)?*</p>
					<p style="font-size:10px" class="text-gray-700">The game will be automatically won after that time</p>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="answer-time"
                        id="answer-time"
					/>
				</label>
				<label style="text-align: center;" class="block" for="max-calls">
					<p class="text-gray-700">Maximum unanswered calls tolerable during War Time? (optional)</p>
					<p style="font-size:10px" class="text-gray-700">If reached, War Time will be over.</p>
                    <input
                        class="form-input mt-1 block w-full"
                        type="text"
                        name="max-calls"
                        id="max-calls"
                    />
				</label>
				<div style="text-align: center;" class="block" for="inc-tour">
					<h1 class="text-gray-700">Check this box to include tournament games in the war effort :</h1>
                    <input
                        type="checkbox"
                        name="inc-tour"
                        id="inc-tour"
                    />
				</div>
                <div class="flex justify-center items-center">
                    <button
                        class="btn-primary mt-8"
                        id="input-war-submit"
                        type="submit"
                    >
                        Declare War
                    </button>
                </div>
            </form>
</script>
